[2019-10-26 21:39] Rakambda opened #1 "Option to avoid breaking tool"
Add an option to not cut the whole tree down if it's going to break the axe.

[2019-10-27 11:17] #1 closed, assigned to Rakambda

[2019-10-28 09:27] Rakambda opened #2 "Reverse sneak"
Add option to only activate mod when sneaking

[2019-10-28 16:20] #2 closed, assigned to Rakambda

[2020-01-11 14:43] Yamza opened #3 "1.15.1 Break Leaves destroys leaves on new trees"
**Describe the bug**
While having break_leaves set to true, any sapling planted will have their leaves break when grown.
[code]
https://i.imgur.com/87fzlSh.gifv

**To Reproduce**
Steps to reproduce the behavior:
1.  Plant a sapling
2. Wait for it to grow

**Infos:**
 - Minecraft verson: 1.15.1
 - Mod version: FallingTree-1.15.1-2.0.1+11
 - Forge 30.0.35

If you provide a crash report please includ

[2020-01-11 23:03] #3 closed, assigned to Rakambda

[2020-01-11 23:20] Rakambda commented on #3
You can try 2.0.2, should fix the issue.

[2020-01-27 20:50] Yamza opened #4 "Don't chop player placed logs"
Basically have had this happen a few times. A player went to chop one log off the house and the whole house is gone. Would it be possible to prevent this?

https://i.imgur.com/z0cquzL.jpg
https://i.imgur.com/Z1Sq1UJ.jpg

[2020-01-27 20:51] Yamza opened #5 "Radius leaf break"
If trees are too close together the leaves won't break until you chop down all the trees. If possible, have some way of breaking the leaves in a radius around the logs removed.

[2020-01-28 09:10] Rakambda commented on #4
There is an option to no activate the mod when chopping down to have just one log being destroyed (the default behavior). Just have to cut it while sneaking (can be reversed in the config to only destroy all when sneaking).
I don't think there's a way for me to distinguish between generated logs and those placed by a player.

[2020-01-28 10:35] #5 closed, assigned to nobody

[2020-01-28 10:36] Rakambda commented on #5
As it is now it only breaks leaves that are going to despawn (like FastLeafDecay).

I added an option to define a radius in which the leaves will be forced destroyed. This will be applied from one of the top most log blocks and will destroy all leaves within it (including leaves that shouldn't despawn because another tree is too close, or because they've been placed by a player).

This will be in

[2020-01-28 12:58] Yamza commented on #4
Swear I've seen something like that before. If I end up finding what did it I'll get back to you. Thank you for considering it!

[2020-01-28 13:45] Yamza commented on #5
Been on 1.15.1, so all good. Thank you!

[2020-02-11 13:18] #4 closed, assigned to nobody

[2020-02-22 13:12] Darkere opened #6 "Conflict with Natures Aura Ancient trees"
**Describe the bug**
Growing an ancient tree from natures aura with
`break_leaves = true`
It causes all leaves to break when the tree grows.
**To Reproduce**
Steps to reproduce the behavior:
1. plant ancient tree and use bonemeal to grow it
2.

**Infos:**
 - Minecraft verson: 1.15.2
 - Mod version: FallingTree-1.15.2-2.0.3+19

[2020-02-29 14:36] Rakambda commented on #6
Sorry didn't see it, I'll see what I can do

[2020-02-29 20:25] #6 closed, assigned to Rakambda

[2020-03-08 19:33] saintkief opened #7 "Leaf Decay Sound"
With leaf break active, the collective block breaking sound can be deafening. If there's a way to mitigate how loud leaf decay is, that would be great :)

[2020-03-08 20:12] Rakambda commented on #7
I can't really remove the sound itself (controlled by the "Block" sound option). Though I can add some sort of random delay in the breaking to avoid having all the leaves breaking at the same time.

What do you think of it?

[2020-03-08 20:15] saintkief commented on #7
That would be great! Merely a suggestion since turning down the block sound option renders all other blocks too quiet while leaf decay sounds like 100% on 5% block volume.

[2020-03-08 21:45] Rakambda commented on #7
Are you on the latest version?
I actually tried to look a bit into it and even with all the sounds on, the leaves breaking makes no sound.
Perhaps you're talking about the leaves that are forced to be broken? (with the defined radius)

[2020-03-08 22:10] #7 closed, assigned to nobody

[2020-04-14 04:23] WyldsKaitlyn opened #8 "Falling Tree"
My brother and I were looking for a mod like this for ages now and we finally found one until we got on and saw it didn't work. We checked all the settings but nothing worked. If we had to rate it out of stars I would give it a 1 out of 5 because the false advertising was on point it made you believe it was going to work.

[2020-04-14 15:32] Rakambda commented on #8
Then if it doesn't work, do you even have a `crash-report` (crash report folder) or `debug.log` (logs folder) file to provide?
Without those it's pretty much impossible to diagnose the error.

[2020-04-29 10:54] Rakambda opened #9 "Add damage multiplicator to tools"
https://www.curseforge.com/minecraft/mc-mods/falling-tree?comment=54

[2020-04-29 11:18] #9 closed, assigned to Rakambda

[2020-04-29 17:48] #8 closed, assigned to nobody

[2020-05-05 04:44] SheroxGG opened #10 "Help with mod config."
Hello! I downloaded this mod for my server, and I have too many type of axes and too many types of wood. I was wondering if it is possible to make all axes usable on all types of wood. I have seen the config file, but it looks to hard to modify, and I am not an expert on config. Hope you can help. Thanks!!

[2020-05-05 06:35] Rakambda commented on #10
For the config file: You have to modify the `tools => whitelisted` and `trees => logs_blacklisted`.
If you never modified them they should look like `[]` (empty list).
You simply have to add every item/block to the list with their ID, separated by commas.
So it should look like `["minecraft:oak_wood", "minecraft:my_custom_wood"]`.

To see these IDs you can press F3+H and when you over an item it'l

[2020-05-09 02:21] SheroxGG commented on #10
![image](https://user-images.githubusercontent.com/34599826/81461484-7580d000-91ac-11ea-9a0b-ce553a427916.png)
![image](https://user-images.githubusercontent.com/34599826/81461488-7e71a180-91ac-11ea-8f2b-7b9e4b9aa7f6.png)
Thanks for the help! Is it like this? Ive tried this but it isnt working. Any idea? Thanks!

[2020-05-09 07:40] Rakambda commented on #10
Seems like you're in `1.12`. The configuration file format is a bit different in this one. As you can see there is angle brackets, and these are the delimiters for the list (instead of `[]` for 1.14+).

I can't test it right now and am not really familiar with this version, but I guess it should should look a bit like this:
[code]

[2020-05-23 08:47] #10 closed, assigned to nobody

[2020-06-04 15:12] WenXin20 opened #11 "Compat w/ Project MMO"
**Describe the bug**
Project MMO allows the player to gain woodcutting stats when chopping down trees.
But if I use this mod to cut trees, no stats are gained. The mod dev said the proper events are not being sent.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Project MMO
2. Chop down trees both with and without Falling Tree.

**Infos:**
 - Minecraft verson: 1.15.2
 - Mod version:

[2020-06-06 06:39] Rakambda commented on #11
Are they really meant to be compatible between each others? I don't know MMO at all but from what I read it supports wood cutting and have the option "Vein Mining". So it should achieve the same as this mod no?

[2020-06-06 06:54] WenXin20 commented on #11
I suppose so. But I do prefer using a tree chopper mod instead of vein mining. This is mainly for my server modpack that I am building.

[2020-06-06 07:54] Rakambda commented on #11
Can you try with this version? https://github.com/RakSrinaNa/FallingTree/releases/tag/1.15.2-2.1.4b1

I think it should make MMO able to gather the stats you want. Though only 1 block will be counter per tree chopped down (as the other blocks of the tree are cut by the server and not the player).

[2020-06-06 12:48] WenXin20 commented on #11
Sure! I'll give it a try later today.

[2020-06-06 22:55] WenXin20 commented on #11
Yep, it works on the first block as you said. Thanks

[2020-06-08 18:53] #11 closed, assigned to Rakambda

[2020-07-09 15:27] Rakambda opened #12 "Deal 1 damage per cut"
https://www.curseforge.com/minecraft/mc-mods/falling-tree#c94

[2020-07-09 21:46] #12 closed, assigned to Rakambda

[2020-08-03 01:29] BoltGoesPro opened #15 "Whitelist Not Working"
**Describe the bug**
So i don't know if it's a bug as there is no example on adding to the whitelist, but when i add to the whitelist it looks like this [mekanismtools:wood_paxel] and gives an error for any of those tools

**To Reproduce**
Steps to reproduce the behavior:
1. add the tools to the whitelist
2.

**Infos:**
 - Minecraft verson: 1.16.1 forge
 - 1.16.1 Mekanism Tools .430

If you provid

[2020-08-03 06:07] Rakambda commented on #15
Hey,

This simply follows the yml file format.

In that case I think you just miss quotes: ["id:name"]. If you need several just add a comma between them: ["id:name1","id:name2"].

[2020-08-05 19:49] Camawama opened #16 "Game Freezes on World Reload"
**Describe the bug**
When your mod is installed with some other mods I have (Biomes O' Plenty and Oh The Biomes You'll Go) it causes some pretty annoying issues. When creating a world, everything works perfectly fine...but the second I close the world and attempt to join back, it freezes the entire game at 100% to the point where I can only close it with Task Manager. I have been testing mods for

[2020-08-05 20:36] Rakambda commented on #16
Ok, I can reproduce it. Happens when FallingTree and BYG are together.

Will look into it.

[2020-08-05 20:38] Camawama commented on #16
Thank you :)

[2020-08-05 20:59] Rakambda commented on #16
Seems like BYG and BOP already have some issues when together (very similar to what's happening here) and may be linked to this too.

Did you try the things mentioned in that issue? https://github.com/CorgiTaco/BYG/issues/32

[2020-08-05 21:33] Rakambda commented on #16
Seems related to the `TickEvent.ServerTickEvent`.

Adding a single log line at the beginning of my event subscriber makes the world load fine. It's super weird.

[2020-08-05 21:55] Rakambda commented on #16
Can also fix it by adding logs on BYG side and not modifying FallingTree:

[code]

Honestly I don't know what to think about this. Probably a synchronization issue or something?
Though kinda hard to believe that FallingTree is causing this as it barely do anything except receiving some events from Forge. But setting the log line on my side make it work too so.... I'll try to keep looking into it.

[2020-08-06 01:15] Camawama commented on #16
Hmm, That's quite strange. Most of my tests have seemed quite random. I have disabled mods and started up the modpack so many times now and sometimes it just randomly doesn't load the world. Restarting the game seems to fix it though. It's really annoying dealing with these types of bugs, lol.

[2020-08-06 06:29] Rakambda commented on #16
Can you try with this version of BYG? I just added some logs that fixes the problem and shouldn't flood the logs.

https://www.dropbox.com/s/ly37tb7igziaauc/byg-1.0.14.jar?dl=0

As info, this is the changes that are made to this compiled version of BYG:
[code]

If this works fine for you I think the easiest would be to have BYG make these changes on their side. That'd improve their logs (as they a

[2020-08-06 16:52] Camawama commented on #16
I will give that a try right now, but one question I have. Will CurseForge allow me to upload my Modpack with the modified file?

[2020-08-06 17:00] Rakambda commented on #16
I don't think curseforge will. I never made a modpack with it. Even if it allows you to, you wouldn't be able to get updates. The best would be to have changes made inside the official mod release.

Sent from my iPhone

[2020-08-09 18:53] Camawama commented on #16
I believe the issue has been completely resolved. BYG just recently updated and I can now save and quit worlds and join back without issues. Thank you for your help!

[2020-08-09 18:53] #16 closed, assigned to Rakambda

[2020-08-17 06:34] #15 closed, assigned to Rakambda

[2020-09-01 19:34] jumper-cable-morty opened #19 "Crash in Fabric after changing speed settings"
**Describe the bug**
Whenever hitting a tree with the speed setting at 1 or above, the game crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a new game, or join a game
2. Change the settings for speed to 1 or greater
3. Try to chop down a tree with any axe

**Infos:**
 - Minecraft verson: 1.16.2
 - Mod version: 2.2.2 (Fabric)
I am also using other mods, but after trying again o

[2020-09-01 20:31] #19 closed, assigned to Rakambda

[2020-09-02 20:46] Snaitf opened #20 "Breaking Leaves option causes leaf blocks to tick wildly."
**Describe the bug**
I've noticed, that in 1.15.2, if break_leaves is set to true, whenever you manually break a leaf block, it causes any other leaf blocks touching it to tick over and over.  While, this behavior isn't noticeable in vanilla, it can break other mods.  Nature's Aura, or Fruit Trees, for example, where waiting for leaf blocks to tick for something to happen, is extremely accelerated

[2020-09-03 18:17] Rakambda commented on #20
I'm not too familiar with this mod so not too too sure what would be the best end result. Though your explanation was quite clear, so thanks for that.

I tried to reduce as much as I could the random ticks being generated on the leaves.
Can you try [this version](https://github.com/RakSrinaNa/FallingTree/files/5170456/FallingTree-1.15.2-2.2.1b.zip) (mod is inside the zip file) and tell me if this

[2020-09-03 18:49] Zano1999 opened #22 "Crash on fabric 1.16.2"
It crash with the following error:

The game crashed whilst initializing game
Error: java.lang.RuntimeException: Could not execute entrypoint stage 'main' due to errors, provided by 'falling_tree'!
Exit Code: -1

[2020-09-03 19:47] Snaitf commented on #20
That seemed to do the trick!

From what I can tell, both Nature's Aura and Fruit Trees are behaving the way they should now.

Good work, and so fast, too  :)

[2020-09-03 19:56] Rakambda commented on #20
I'll officially publish the change on Curse tomorrow I guess 😉

[2020-09-04 07:13] Rakambda commented on #22
Can you provide your `debug.log` file (in the logs folder) after having the crash?

[2020-09-04 15:12] #20 closed, assigned to Rakambda

[2020-09-04 16:45] Zano1999 commented on #22
https://pastebin.com/y5ZbC5qa

[2020-09-04 16:52] Rakambda commented on #22
Seems like there's quite a big part of the log file missing there.

Though, that second line (`Conflicting versions found for fabric-api-base: used 0.1.3+12a8474cfa, also found 0.1.3+12a8474c4e`) is weird. Seems like you have the fabric-api mod twice.

Anyway, from what I see there the fabric-api isn't the latest, try with it ;)
https://www.curseforge.com/minecraft/mc-mods/fabric-api/files/3049174

[2020-09-05 10:51] Zano1999 commented on #22
Thanks, now it work ;)

[2020-09-05 10:52] #22 closed, assigned to Rakambda

[2020-09-09 08:51] LordGrimmauld opened #23 "Crash when printing leaf blocks with Create Schematicannon (1.15.2)"
**Describe the bug**
The Server crashes when trying to print a leaf block with the Create Schematicannon. The crash has been reported on the Create discord (i am a dev following up on those reports). The log says `java.lang.ClassCastException: com.simibubi.create.content.schematics.SchematicWorld cannot be cast to net.minecraft.world.server.ServerWorld`

**To Reproduce**
Steps to reproduce the beh

[2020-09-09 16:41] Flyrija opened #25 "Axe gets duplicated"
The mod works like a charm, but every time I cut down a tree or wood, the axe gets duplicated by the number of blocks I cut down and stacks. I have now hundreds of axes in my inventory.

**To Reproduce**
Steps to reproduce the behavior:
1. Cut down a tree or wood
2. Watch your axe multiply buy the number of blocks you just cut down

**Infos:**
 - Minecraft verson: release fabric loader 0.93 build.

[2020-09-09 17:17] Rakambda commented on #23
Thanks for the PR.

As for 1.14 versions, I don't think the problem will be there. The code is a bit different and IWorld is used, so I guess it would work fine and call methods defined by the mod world.

[2020-09-09 17:17] #23 closed, assigned to Rakambda

[2020-09-09 17:53] Rakambda commented on #25
I can't reproduce it.

* What is the configuration you use? (Can drop the config file here)
* What gamemode are you in when this happens? (I assumed survival)
* Do you have any other mods loaded?

[2020-09-11 17:05] Flyrija commented on #25
Sorry for the late reply, I was too tired after work. I didn't change anything in the default config except this maybe:

// The minimum amount of leaves that needs to be around the top most log in order for the mod to consider it a tree.
		"minimumLeavesAroundRequired": 0,  <- I think this was set to 3 before?

And I'm using these mods:
                adorn: Adorn 1.10.1+1.16.1
		allure: Allure 1

[2020-09-12 09:13] Rakambda commented on #25
Seems to be a compatibility issue with Allure. Will try to see why but looking at the Allure's curse page it seems to be a rather big mod doing lots of changes so will be kinda hard to find what part could cause that.

--
I sent a private message to the mod author on forge, waiting for a reply.

[2020-09-15 21:02] Rakambda commented on #25
Got this response from the author:  `Good find! Fixed in the latest release!`.

So I guess you can try with Allure's last release and see if it's fixed.

[2020-09-22 06:02] #25 closed, assigned to Rakambda

[2020-10-08 04:41] Arcuhm opened #29 "Mod works client side, but not in forge server."
**Describe the bug**
A clear and concise description of what the bug is.
Mod doesnt function at all in forge server, but client it works.

**To Reproduce**
Steps to reproduce the behavior:
1.
2.

**Infos:**
 - Minecraft verson: [e.g. 1.14.4] 1.16.3
 - Mod version: [e.g. 1.0.0] Latest release

If you provide a crash report please include it in a readable way (like pastebin or gist for example).
No

[2020-10-08 05:40] Rakambda commented on #29
Just to be sure, you installed the mod on the forge server too?

[2020-10-09 16:35] Arcuhm commented on #29
Yes. Both mod files are in client & server folders. It works just fine on
client. But when i join my sever, it doesn’t work, with any axe. I’ve tried
the crouch/shift method. There’s no settings for the mod under control
options either. I even tried a fresh server, still nothing.

On Thu, Oct 8, 2020 at 1:40 AM Thomas Couchoud <notifications@github.com>
wrote:

[2020-10-09 17:17] Rakambda commented on #29
I can't reproduce it with the latest mod version & latest forge version.
The mod is both on the Client & Server and trees are cut in one go.

Maybe you can check in your server logs if the mod is actually loaded. In my case the beginning looks something like this:
[code]

And we can see that the mod is loaded as it tries to check its version:
[code]

Without any more information I won't really be

[2020-10-09 19:43] Arcuhm commented on #29
I’ll check a little deeper when i get home tonight. I did try to look
through the cmd when i launched the forge sever. It did mention all of the
installed mods. But i didn’t see anything about it being loaded. Thanks for
the tips. I’ll update when i have more info!

On Fri, Oct 9, 2020 at 1:17 PM Thomas Couchoud <notifications@github.com>
wrote:

[2020-10-10 01:37] Arcuhm commented on #29
This is the line of command that generates when starting the server.

C:\Users\yoaut\Documents\Forge Server>java -Xmx4G -Xms4G -jar
minecraft_server.1.16.3.jar nogui
[21:30:40] [main/INFO]: Environment: authHost='https://authserver.mojang.com',
accountsHost='https://api.mojang.com', sessionHost='
https://sessionserver.mojang.com', name='PROD'
[21:30:41] [main/WARN]: Ambiguity between arguments [te

[2020-10-10 07:33] Rakambda commented on #29
This doesn't look like a forge server.
You have to install it first (you can use forge installer, select server, and set the path as `C:\Users\yoaut\Documents\Forge Server`).

And then your start command should look something like `java -Xmx4G -Xms4G -jar
forge-1.16.3-34.1.15.jar nogui`.

[2020-10-10 22:05] Arcuhm commented on #29
Yep! I finally figured it out. The run.bat command was set for the vanilla
server. Not the forge sever. I’m just an idiot who hasn’t played minecraft
in a while! Mod works perfectly fine! Thanks!!!

On Sat, Oct 10, 2020 at 3:34 AM Thomas Couchoud <notifications@github.com>
wrote:

[2020-10-11 06:24] #29 closed, assigned to Rakambda

[2020-10-11 09:06] sav-11 opened #30 "it doesnt work"
**Describe the bug**
A clear and concise description of what the bug is.
it doesnt work when i loaded it up on fabric 1.16.2 and i tried to redownload it but it still doesnt work
**To Reproduce**
Steps to reproduce the behavior:
1.  fix it
2. help me

**Infos:**
 - Minecraft verson: [e.g. 1.16.2]
 - Mod version: [e.g. 1.0.0]?????

If you provide a crash report please include it in a readable way (

[2020-10-11 09:16] Rakambda commented on #30
Your explanation is quite vague.
At least provide your `debug.log` file.

To me it sounds like an issue with your setup. Are you even able to load any other mods?

[2020-10-25 10:04] #30 closed, assigned to Rakambda

[2020-11-07 23:34] tonioss22 opened #32 "Mod will not load on my fabric server."
**Describe the bug**
A clear and concise description of what the bug is.

Alright so i am experiencing the same that the other person reported although he poorly described it. When i add the fabric mod to my mod folder on my server the server crashes on boot. giving the fatal error Could not find required mod: falling_tree requires {minecraft @ [1.16.4]}. This is on a 1.16.3 server, i also tried t

[2020-11-07 23:35] #32 closed, assigned to Rakambda

[2020-11-07 23:36] tonioss22 commented on #32
nvm, i found the 1.16.3 version and that loads up fine, my mistake.

[2020-11-14 20:56] Rakambda opened #34 "Whitelist/blacklist tags"

[2020-11-14 22:28] #34 closed, assigned to Rakambda

[2020-12-14 08:04] Rakambda opened #35 "Break logs above cutting spot"
[Curse comment](https://www.curseforge.com/minecraft/mc-mods/falling-tree?comment=322)

[2020-12-15 18:50] Rakambda opened #36 "Add configuration GUI"
A clear and concise description of what you want to happen.

[2020-12-16 19:51] #35 closed, assigned to Rakambda

[2020-12-17 00:53] dheivs opened #38 "Falling Tree fail to load on start up (versions 2.8+)"
**Describe the bug**
A clear and concise description of what the bug is.
As soon as I launch my Minecraft, an error message will pop up saying that Falling Tree has failed to load correctly.

Here's a screenshot:
![image](https://user-images.githubusercontent.com/72005130/102423983-34577500-4045-11eb-9ad0-07fcc027e92f.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Put the mod in the mo

[2020-12-17 06:25] Rakambda commented on #38
Did you install Cloth Config?

![image](https://user-images.githubusercontent.com/1688389/102451546-f9e7db00-4038-11eb-9115-987c36b86f1e.jpeg)

[2020-12-17 07:01] #36 closed, assigned to Rakambda

[2020-12-17 13:11] Sermanes commented on #38
@RakSrinaNa  How do I install it?  Is there any guide?

[2020-12-17 13:12] Rakambda commented on #38
Like any other mod, by dropping its jar into the `mods` folder.

[2020-12-17 15:50] smolpemi commented on #38
Hey, I've been trying to install this updated version but I also keep getting the same error even after I've downloaded the cloth-config-forge-4.1.1. Is there any other solutions?

[2020-12-17 16:11] Rakambda commented on #38
Weird, I can't manage to reproduce at all.

The mods folder:
![explorer_2020-12-17 17 08 29 559_THVYZZEK1p](https://user-images.githubusercontent.com/1688389/102512819-c170ed00-408a-11eb-9ab1-ebe3eac041de.png)

Minecraft loaded:
![javaw_2020-12-17 17 08 03 458_xEljwgBvyy](https://user-images.githubusercontent.com/1688389/102512860-d0579f80-408a-11eb-83da-d46ae3ac9f43.png)

We're ok that you downlo

[2020-12-17 16:15] smolpemi commented on #38
Wow I have no idea what changed because I was putting the same files in the same location but it's working now! xD Thank you so much!

[2020-12-18 04:57] DelphiDv opened #39 "Issue with custom speed"
Even with the mod install on both the client and server, i still get the weird _block not breaking when mined and tree taking a full minute to fall_ issue, am i doing something wrong?

[2020-12-18 06:43] Rakambda commented on #39
So what I'm guessing is that you have modified the configuration `speedMultiplicand`?

If that value is set to something else than `0` then it is normal that it takes longer to break the tree.

"Block not breaking when mined" I guess you break the block, but the tree itself doesn't fall along with it? If so, and that you modified `speedMtiplicand`, you'll have to set the same value both in the ser

[2020-12-18 08:07] dheivs commented on #38
Hi! Sorry about this. Yes, it works now after adding the cloth config.

I used to just add this mod alone for a very long time until now.  Thank you.

[2020-12-18 08:07] #38 closed, assigned to Rakambda

[2020-12-18 08:09] Rakambda commented on #38
Yeah I kinda guessed that this would happen :laughing:

I added this so that now there's a configuration menu from within the mod menu on the main screen. I guess this is more pleasant than having to go into the conf file.

[2020-12-20 01:57] utechtl opened #40 "Several Tool tips left aligned of the cursor in the config menu"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Mods -> Falling Tree -> Config
2. Hover over various options.

Affected options are:
Reverse Sneaking- depends if the mouse is hovering over reverse it's fine but if it's over the sneaking part then it's unreadable
All of the Trees options except "Trunk Breaking"
All of th

[2020-12-20 09:30] Rakambda commented on #40
I reduced the length of the lines. It should now fit a bit better on screen. Will be in version `2.8.1`.

[2020-12-20 10:53] #40 closed, assigned to Rakambda

[2020-12-21 20:20] Andibyts opened #41 "Reverse sneaking not working as intended ?"
**Describe the bug**
When Reverse sneaking is activated it cuts down trees while shifting and also while not shifting
**To Reproduce**
Steps to reproduce the behavior:
1. activate Reverse sneaking
2. cut down a tree while sneaking and while not

**Infos:**
 - Minecraft verson: 1.16.4
 - Mod loader: Forge
 - Mod version: 2.8.1

[2020-12-21 21:03] Rakambda commented on #41
I can't reproduce that :/

[2020-12-21 21:58] Andibyts commented on #41
Thats strange, i also realised that even if I have a minimum of 1 leave for it to cut, it still cuts logs with no leaves at all

[2020-12-21 21:59] Rakambda commented on #41
Do you play with other mods? Maybe there's an imcompatibility?

[2020-12-21 22:00] Andibyts commented on #41
I do, I will try it just with your mod right now

[2020-12-21 22:10] Andibyts commented on #41
Okay, seems to be a incompatibility with another mod. But 70 Mods are to many to test which one it is right know

[2020-12-21 22:14] Rakambda commented on #41
Yeah for sure will be hard to pint point which one it is.
But if at some point if you manage to find which one it is I'm interested knowing it.

Even though I'm not sure if I can't fix that as I get the sneaking status from Forge.

[2020-12-21 22:16] Andibyts commented on #41
I will take some time tomorrow and test it. Will let you know if I found out more

[2020-12-21 23:08] Victor-ARC opened #42 "Version 2.8.1 crashes"
Hi there,

Today I updated the mod to the 1.16.4-2.8.1 version and it simply crashed Minecraft when loading. I'm attaching the crash report below.

[crash-2020-12-21_16.49.04-fml.txt](https://github.com/RakSrinaNa/FallingTree/files/5726916/crash-2020-12-21_16.49.04-fml.txt)

Contact me if you need any other info.

Best regards and thank you for your work and dedication to the community.

[2020-12-22 01:00] Victor-ARC commented on #42
UPDATE

Mod version 2.8.0 triggers the following crash report:

[crash-2020-12-21_18.55.17-fml.txt](https://github.com/RakSrinaNa/FallingTree/files/5727188/crash-2020-12-21_18.55.17-fml.txt)

Best regards.

[2020-12-22 06:20] Rakambda commented on #42
You need to install Cloth Config.
You can find the link on the main page of the mod on curse or on every file on curse it is marked as a required dependency.

![image](https://user-images.githubusercontent.com/1688389/102856121-32ffc100-4426-11eb-8f4c-f4b7283c1645.jpeg)

[2020-12-22 06:52] Rakambda opened #43 "Can't add croptopia to whitelisted leaves"
https://www.curseforge.com/minecraft/mc-mods/falling-tree?comment=337

[2020-12-22 06:53] Rakambda opened #44 "White/blacklist validation in config GUI"

[2020-12-22 09:03] Rakambda commented on #43
Whitelist seems to be working.
CroptopiaLeaves are extending crops and so are not working like leaves. There's no "decay" feature on those.

Will have to use force breaking radius (+whitelist) to get rid of those.

https://github.com/ExcessiveAmountsOfZombies/Croptopia/issues/29

[2020-12-22 09:03] #43 closed, assigned to nobody

[2020-12-22 09:11] Rakambda commented on #42
Duplicate of #38

[2020-12-22 18:37] #44 closed, assigned to Rakambda

[2020-12-22 23:19] #42 closed, assigned to Rakambda

[2020-12-29 22:35] nakarumadra opened #45 "how to use different cutting methods with different tools"
is it possible to make certain tools do the shift down method while have other tools do the instantaneous method (ie a diamond or netherite axe?)

[2020-12-30 10:04] Rakambda commented on #45
This isn't possible. These settings are global to every tool (axes or whitelisted).

And I'm not really sure if I want to make it configurable per tool. This would be the configuration even more complex than it already is.

[2021-01-03 12:37] BloodyRain2k opened #46 "Tool whitelist in 1.12.2 not working"
**Describe the bug**
No matter what and how I enter in the whitelist for the tools (or the blacklist for that matter) it will only save an empty list.

**To Reproduce**
Steps to reproduce the behavior:
1. Enter the mod's settings in the main menu
2. Enter the 3rd submenu of the 3x "falling_trees" (see screenshot)
3. Enter various tools into the whitelist, in my case "tconstruct:hatchet", "tconstru

[2021-01-03 14:43] Rakambda commented on #46
I can reproduce it.
Seems like the config of the `general` category is saved fine. However the other ones (`trees` & `tools`) aren't.

Now I'm not sure if I really want to invest time into fixing it. I'm using Forge's configuration annotations which delegates the configuration handling to Forge. I don't really know if I set it up a bit wrongly or if it doesn't handle well `config categories` but I

[2021-01-03 14:45] #39 closed, assigned to Rakambda

[2021-01-03 14:46] Rheinauer opened #47 "Crashreport(2.8.1.)"
1.16.4-2.8.1 version.  It simply crashed on the loading screen.  Error-Code: Java.lang.IllegalAccessError: no such constructor

crash report:
[crash-2021-01-03_14.44.00-fml.txt](https://github.com/RakSrinaNa/FallingTree/files/5761750/crash-2021-01-03_14.44.00-fml.txt)

**Infos:**
 - Minecraft verson: [1.16.4]
 - Mod loader: [Forge]
 - Mod version: [FallingTree-Forge-1.16.4-2.8.1]

Thank you for yo

[2021-01-03 14:51] Rakambda commented on #47
Duplicate of #38

[2021-01-03 14:51] Rakambda commented on #47
Install the required dependency

[2021-01-03 14:51] #47 closed, assigned to Rakambda

[2021-01-03 14:52] #41 closed, assigned to Rakambda

[2021-01-03 14:57] RakSrinaNa opened #50 "Test"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.
2.

**Infos:**
 - Minecraft verson: [e.g. 1.14.4]
 - Mod loader: [Forge/Fabric]
 - Mod version: [e.g. 1.0.0]

If you provide a crash report please include it in a readable way (like pastebin or gist for example).

[2021-01-03 15:29] BloodyRain2k commented on #46
I wouldn't mind if I had to edit the file externally to make the loading work, but even that is thrown away.
There's another mod with almost the same bug, except that it at least loads the settings fine.

But when I edit them here externally they won't even be loaded into the ingame settings, so not even that seems to work.

[2021-01-03 16:15] Rakambda commented on #46
Yeah that part isn't normal though, I'll look into it

[2021-01-03 16:23] Rakambda commented on #46
Editing the file works for me.

* Close Minecraft
* Edit `falling_tree.cfg`
* The section you're refereeing to should look like (with the id being those you want):
[code]

[2021-01-03 17:49] BloodyRain2k commented on #46
Ahhh, that's why nothing worked...
Stupid Forge-Config formatting <_<

I've tried pretty much all formats, except one entry per line withOUT the , at the end.
Now it works fine :facepalm:

With this the issue is pretty meh, if anyone else happens to run into it, here's the solution then xD

Thanks for your time :+1:

[2021-01-03 17:49] #46 closed, assigned to Rakambda

[2021-01-06 23:20] WenXin20 opened #52 "Cloth Config Server Crash"
**Describe the bug**
- The newest update crashes the server.

**To Reproduce**
Steps to reproduce the behavior:
1. Load mod on server.
2. Crash.

**Infos:**
 - Minecraft v1.16.4
 - Mod loader: Forge v31.1.28
 - Mod version: v2.8.2

[Crash Report](https://gist.github.com/WenXin20/3f56fcaaf30a3553e3c93678547ae87b)

[2021-01-07 06:36] Rakambda commented on #52
I'll put a better way of handling that in the next version.

Though if you have cloth-config-forge installed on the server, you can remove it. It isn't needed as it just generate GUIs.

[2021-01-07 06:39] WenXin20 commented on #52
Ah, alright, thanks

[2021-01-07 07:00] #52 closed, assigned to Rakambda

[2021-01-09 15:13] ghost opened #53 ""above_cut" also breaks logs horizontally from the cut point."
I'm using the fabric version for 1.16.4: FallingTree-Fabric-1.16.4-2.8.1

(When using SHIFT_DOWN mode)
When using "above_cut" the discription for it says: "will break only blocks that are connected from above the cut point."
However when you put logs in a row horizontally you can still use shift down to clear that row from one end by simply breaking the other end repeatedly. So the feature works h

[2021-01-09 16:42] Rakambda commented on #53
Shift down or instantaneous works the same on the tree detection. Just that instantaneous breaks everything at once while shift down picks the furthest block.

Just to have the ideas clear on what each breaking mode does:

* Normal will basically follow a "log path" in every direction. ![N](https://user-images.githubusercontent.com/1688389/104103019-2e4d6080-52a0-11eb-9c60-e50d2fa0ff0a.png)
* Abov

[2021-01-09 17:23] ghost commented on #53
Yeah, my english is a bit wonky, sorry for any confusion on my part.
`y > cut_y` would be exactly what I meant. Just so that it can't be used on horizontal rows too "easily."
This would solve this senario entirely:

Visualization (axe=cutting point; x=disappearing log):
![](https://i.imgur.com/MGtaIId.png)

The 2nd part was an attemp to solve the senario in the image below:
Not completety disable

[2021-01-09 19:19] Rakambda commented on #53
I did the 2 modifications (above is strictly above & added config for a search radius `Trees > Search area radius`).

Before I port it to forge too and release it you can test it from the jar attached. I guess it'll be simpler than words to know if it actually fits your needs 😉

[FallingTree-Fabric-1.16.4-2.9.0.jar.zip](https://github.com/RakSrinaNa/FallingTree/files/5791664/FallingTree-Fabric-1.1

[2021-01-09 19:34] ghost commented on #53
This is exactly what I meant! Works perfect!
Your response time is out of this world :D Thanks you!

[2021-01-09 19:35] #53 closed, assigned to Rakambda

[2021-01-10 17:53] MeeniMc commented on #53
When I saw the changelog, I thought you had made so that `above y` is strict, and would prevent horizontal logging, which I thought was a great idea. That is, in the yellow diagram, the bottom branch wouldn't be logged at all (except the targeted block, obviously).

The rationale is that horizontal logging is almost always a player mistake, destroying unintentionally some wood built structure.

[2021-01-10 17:57] Rakambda commented on #53
Ah yeah I didn't think enough when I did the changelog 😅  These diagrams are actually from before the update.

With the update both the yellow and blue bottom left branches won't be cut.

I wanted to put these kind of infos in the wiki section so people can get a bit more infos on how settings change things, and hopefully an easier way for me to keep it updated.
My bad for the diagrams that aren't

[2021-01-11 16:15] ghost opened #54 "Whitelist for blocks connected to trees(logs)"
Just something for you to put into your ”idea box” to consider in the future if you want. :) Maybe you’ve already thought of it, if not:

I was thinking of ways to identify/separate trees from other log/wood structures. Not leaves necessarily, but the logs themselves.
What I came up with:
(A use case for a "connected block" whitelist)

Test for blocks connected to the log that is to be removed (bl

[2021-01-11 16:54] Rakambda commented on #54
For now there is some kind of check possible, being the number of leaves around the top most (with highest y value) log.
What are leaves is defined by everything tagged as `leaves` + `whitelist` + `steams (if turned on in the config)`.

The idea is quite interesting though.

Just so it's clear, that'd be something that happens on the detection of the tree and not the breaking part.
That means that

[2021-01-11 18:12] ghost commented on #54
With the whitelist I was thinking that it would be left empty by default. And when it’s empty it would be ignored and everything would be whitelisted, like it is ATM. That or there would be an option to disable/enable it in the case of mods for example. (I wasn’t sure if fallingtree supported other mods, so i left it unmentioned, my bad)

What I was thinking when it comes to rare cases like jungle

[2021-01-11 19:14] Rakambda commented on #54
Yeah good point. Can leave it "unset" by default and nothing is applied. And only activate it when at least one block is whitelisted.
Every whitelisted leaves & whitelisted logs would **always** be considered whitelisted adjacent blocks though.

I guess in the end the best is just to make it configurable. Either not cut anything or forget the branch.

For the performances I don't really know. For

[2021-01-11 20:16] Rakambda commented on #54
This isn't optimized at all, rather brute force. But for tested at least the ideas that's a start.

Can have a test with that version: https://www.dropbox.com/s/h15hh4goh61axvj/FallingTree-Fabric-1.16.4-2.9.1b1.jar?dl=0

[2021-01-12 10:56] ghost commented on #54
I've been testing this for a while and as far as I can see it seems to be working exactly as I would expect it to.  :+1:

[2021-01-12 12:21] SirPopa commented on #54
Only thing I noticed is that all the leaves and logs don't seem to be whitelisted by default right now. Or are overwritten by the whitelist when something is added to it.
If I for example add just vines on the whitelist right now, it'll be the only thing whitelisted, all logs and leaves aren't whitelisted automatically.
So when you said: "Every whitelisted leaves & whitelisted logs would always be

[2021-01-12 12:28] ghost commented on #54
I'm not sure if this is intended work like this but I noticed that when I add an item on the list it "overwrites the default list of whitelisted blocks."
So if I just add vines to the whitelist, all logs, leaves, air, etc are now not whitelisted like they are normally. Is this how it's supposed to work or should these always be on the whitelist no matter what?
EDIT: not sure if all are overwritten

[2021-01-12 12:35] Rakambda commented on #54
Not all should be overwritten. Just that the air block isn't part of the whitelist (as it isn't a default leaf nor default log).
Maybe air should be included by default no matter what.

If something is whitelisted the adjacent whitelist is: `isLog? + isLogWhitelisted? (and not blacklisted) + isLeaf? + isLeafWhitelisted? (and not backlisted) + adjacentWhitelistFromConf`.

Though I kinda noticed tha

[2021-01-12 12:39] RakSrinaNa commented on #54
Ok I reread what you said, and yeah it's not intended. In the code I actually only added everything that is tagged as `log`. It should be `log + whitelist logs`.

[2021-01-12 12:49] Rakambda commented on #54
This version whitelists the air by default, maybe that solves your issue: https://www.dropbox.com/s/gvzxk0a3txye2f2/FallingTree-Fabric-1.16.4-2.9.1b2.jar?dl=0

[2021-01-12 13:02] ghost commented on #54
You were right, it was just the air block causing me confusion it seems. 👍

[2021-01-12 13:35] ghost commented on #54
When it comes to wart blocks and shroomlight, it's hard to say if they should be on the list by default or not. However just in case someone would not want them on the list i guess it's safer to exclude them.
In the case of the air block, I couldn't imagine anyone not wanting it on the list at all times.

[2021-01-12 13:49] Rakambda opened #56 "Cache list of blocks/items"
We should cache list of items/blocks instead of loading them each time we access it.

This will mainly apply to the whitelists and blacklists and should improve a bit performances.
These only need to be refreshed when the config is reloaded/updated.

[2021-01-12 13:50] #45 closed, assigned to nobody

[2021-01-12 19:56] #56 closed, assigned to Rakambda

[2021-01-12 20:37] Rakambda commented on #54
As it seems to behave as wanted, this probably is the closes to what may be released if nothing has to change: https://www.dropbox.com/s/hglgfe8m9ti3m9b/FallingTree-Fabric-1.16.4-2.9.1b3.jar?dl=0

It got the lang file updated (so the config menu should have actual sentences) & the cache for the config (this should improve performances, I don't know by how much).
Maybe will have to test a bit on co

[2021-01-12 21:35] ghost commented on #54
Yeah, all seems to work perfectly as far as I can see. Great job once again 👍

[2021-01-13 16:00] #54 closed, assigned to Rakambda

[2021-01-13 16:02] Rakambda opened #60 "Describe the different breaking modes"
https://github.com/RakSrinaNa/FallingTree/wiki/Behavior

[2021-01-13 16:02] Rakambda opened #61 "Describe the different cutting modes"
https://github.com/RakSrinaNa/FallingTree/wiki/Behavior

[2021-01-13 16:03] Rakambda opened #62 "Describe the adjacent blocks"
https://github.com/RakSrinaNa/FallingTree/wiki/Behavior

[2021-01-13 16:04] Rakambda opened #63 "Describe the configuration"
https://github.com/RakSrinaNa/FallingTree/wiki/Settings

[2021-01-30 10:32] MrBeast1107 opened #66 "Adding more Axes"
A clear and concise description of what you want to happen.
I got other mods installed that gives me more axe . How to I add it to the mod

[2021-01-30 10:37] Rakambda commented on #66
There's an example in the wiki https://github.com/RakSrinaNa/FallingTree/wiki/Configuration---Forge#array-1

Tools > whitelist.

[2021-02-06 04:57] R3STE4SY opened #67 "Trees only slightly break at times when axe used breaks."
**Describe the bug**
When breaking a tree, if the axe you are using breaks, sometimes it will only partially destroy the tree.

**Infos:**
 - Minecraft verson: 1.16.5
 - Mod loader: Fabric

[2021-02-06 06:16] Rakambda commented on #67
This is the desired effect. If there isn't enough durability on the tool, it'll only break what it can and no more.

What you can do is to set `Tools > damage multiplicand` to `0`. It'll basically use `1` of durability for every tree cut (instead of the amount of logs). Though it is a bit more "cheaty" as you use way less durability.

About the issue itself I'm not sure I want to change it. To me

[2021-02-06 20:36] DylanPotter opened #68 "Config file not generating in Fabric 1.16.4"
**Describe the bug**
No config file generated in the mods folder or anywhere else in the server files. I'm trying to increase the max tree size and can't because there is simply no config file at all.

**To Reproduce**
Steps to reproduce the behavior:
1. Installed Fabric server launcher for 1.16.4 remapping Vanilla 1.16.4 server jar
2. Installed FallingTree for Fabric 1.16.4 and the Fabric API int

[2021-02-06 20:38] DylanPotter commented on #68
Ignore me I found it sorry

[2021-02-06 20:38] #68 closed, assigned to Rakambda

[2021-02-07 08:46] #66 closed, assigned to Rakambda

[2021-02-10 12:14] aditqo opened #69 "Speed multiplicand not affecting tree breaking speed"
**Describe the bug**
Changing the "Speed multiplicand" does not affect the tree breaking speed. Seems to be stuck at 0

**To Reproduce**
Steps to reproduce the behavior:
1.  Changed speed multiplicand via the client mod menu ( trees still break at speed 0 )
2.  Changed speed multiplicand in the config file ( trees still break at speed 0 )

**Infos:**
 - Minecraft verson: [e.g. 1.16.5]
 - Mod loade

[2021-02-10 12:22] Rakambda commented on #69
In singleplayer or multiplayer?

[2021-02-10 12:55] aditqo commented on #69
This was in single player with other mods installed

I deleted config from all mods and after restarting it seems to be fine. Maybe a different mod was causing this issue. Sorry for false alarm.

[2021-02-10 12:55] #69 closed, assigned to Rakambda

[2021-02-11 15:22] Rakambda opened #70 "Stop scanning tree as soon as the max log count is reached"
See https://www.curseforge.com/minecraft/mc-mods/falling-tree?comment=408

[2021-02-11 17:10] #70 closed, assigned to Rakambda

[2021-02-15 13:41] Dramegno opened #71 "Cut trees from branches towards cut point"
A config option for a hybrid mode between Instantaneous and Shift Down modes.

Basically what I am talking about here is that after the tool breaks/1 durability shift down the rest of the tree. This should 'cut' down the number of floating trees, and provide a solution that doesn't involve an insane amount of time cutting down a forest in Shift Down mode or nerdpoles. This will really help cut out

[2021-02-16 12:29] Rakambda commented on #71
I'm not really sure what would be the point of activating that for tool break/1 durability. If the tool is broken, well, you don't have any uses of it left. And if there's 1 durability left it'll cut just 1...

Though if we don't take into account these cases, the idea of an hybrid mode can be interesting. Basically trying to cut it in INSTANTANEOUS_MODE and if it reaches the max limit, cut with S

[2021-02-16 16:56] Dramegno commented on #71
what I was talking about is situations like say you have a tree that happens to have 100 logs and you cut it in instantaneous mode, and the axe runs out of usable durability after say 50 logs you now have a floating tree that is super annoying to get rid of since it appears that the logs that are chosen to be broken are random, thus creating lots of orphaned branches/sections that have to be hunte

[2021-02-16 17:12] Rakambda commented on #71
Yeah the behaviors are different. Insta will break them going from the cut point towards the furthest block. Shift down will do the opposite (cut the furthest).

I'll try to do an hybrid mod and let you test it to see if that solves your problem. You use fabric or forge?

[2021-02-16 17:39] Dramegno commented on #71
I use forge. The thing is that in my observations Instanious mode does not go from closest to farthest but instead the log is chosen randomly with a slight weight on closer ones. I have attached an example of what I am talking about I used a vanilla Minecraft wooden axe and Jungle tree for this.
![Tree -Before](https://user-images.githubusercontent.com/33284290/108100403-e0bcd400-7053-11eb-9d80-b8

[2021-02-16 18:00] Rakambda commented on #71
Okay I get a bit more what the problem is with the screenshot. I thought it was cutting it a bit more "cleanly" 😆

https://www.dropbox.com/s/neynazdlejzw5kr/FallingTree-Forge-1.16.5-2.10.1.jar?dl=0

I did a version where it'll break the furthest away first like in shift down. So I think your issue should be "solved". It'll just leave behind the trunk part if there isn't any tool uses left. You can

[2021-02-16 19:36] Dramegno commented on #71
It works wonderfully, this is what I imagined when I originally thought up a hybrid mode. I do see your point about the Minimum leaves setting but I would say that in the worst case of clearing a log pillar by hand is a lot less annoying and safer than hunting down orphaned logs 20+ blocks up.

[2021-02-16 21:16] #67 closed, assigned to Rakambda

[2021-02-17 16:35] Rakambda commented on #71
If that matches what you thought about then I'll push that as a fix.

If one day someone is interested by that hybrid mode, another issue can be done and details for it discussed.

[2021-02-17 16:53] #71 closed, assigned to Rakambda

[2021-02-20 16:55] pjlasl opened #72 "incorrect message in chat"
**Describe the bug**
When I attempt to chop down a tree that is too big, the following message is displayed in chat:

chat.fallingtree.tree_too_big

**To Reproduce**
Steps to reproduce the behavior:
1. chop down a large tree

**Infos:**
 - Minecraft verson: [e.g. 1.16.5]
 - Mod loader: [Fabric]
 - Mod version: [FallingTree-Fabric-1.16.5-2.10.2]

If you provide a crash report please include it in a

[2021-02-21 16:19] Rakambda commented on #72
Hmm I can't reproduce. Downloaded the mod from CurseForge and the message displays fine:
![image](https://user-images.githubusercontent.com/1688389/108631084-94fd9680-7468-11eb-8769-4cff62d99ebf.png)

[2021-02-21 20:33] pjlasl commented on #72
I only have the mod installed on my server. I don't have it on the client, could that be why?

[2021-02-21 20:35] Rakambda commented on #72
Ah yeah. The translation files are inside the mod itself and not sent between client/server as only the client uses it to display the language (only the client knows its language).
Either you need the mod client side, or you can get the lang file itself and add it as part of a resourcepack if you don't want the mod itself client side.

[2021-03-02 10:38] Rychlas opened #73 "Curseforge launcher keeps on pushing fabric version even though I use forge"
Greetings, I use Forge, 1.16.5-2.10.2 version of the mod.
I'm not sure whether I'm doing something wrong but whenever I press "update" on the curseforge mod manager to update the mod, it installs a fabric version instead. I just checked, and even though I have the most recent forge version, I can see the update button, and when I press it it removes the Forge version, installs the Fabric one along

[2021-03-02 10:56] #73 closed, assigned to Rakambda

[2021-03-22 09:50] FrederikT opened #76 "Leaves backlist/whitelist isn't saved"
Whitelisted Leaves does not work. The GUI option adds Blocks to logs_whitelisted in the config file. manually adding leaves_whitelisted in config file doesn't work either. After starting minecraft leaves_whitelisted is removed.
logs_whitelisted  works fine.
(I have the mod "Oh The Biomes You'll Go" installed. The embur "tree" from a nether biome has "byg:embur_gel_block" and "minecraft:shroomlight

[2021-03-22 17:36] Rakambda commented on #76
Just as info: this should already be handled by default if you have the `breakNetherTreeWarts` configuration activated.

Does this block decay by default?
Because if it doesn't then it's normal that it isn't cut. FallingTree just speeds up the decay.

Concerning that point I plan to add a configuration to add other "type" of leaves, like warts, that requires to be mined. But I don't know when it'l

[2021-03-22 18:40] Rakambda opened #77 "Add configuration to whitelist leaves that requires to be broken"
Currently whitelisted leaves are only leaves that decay. This new option will allow users to register other blocks that will be broken by the tool instead of decaying.

Related to #76

[2021-03-22 19:52] Rakambda commented on #76
Ok that one I found it, will be fixed

[2021-03-24 07:26] #77 closed, assigned to Rakambda

[2021-03-24 07:29] #76 closed, assigned to Rakambda

[2021-03-24 07:39] #72 closed, assigned to Rakambda

[2021-03-28 17:15] Mihail001 opened #80 "Speed multiplicand doesn't work with mod Project MMO."
**Describe the bug**
Speed multiplicand doesn't work with mod Project MMO installed.
If I want to cut all tree I cut it down in just 3 seconds. And I change the speed multiplicand to: 0.4

**To Reproduce**
Steps to reproduce the behavior:
1. Install: Project_MMO-1.16.4-3.49.2 and FallingTree-Forge-1.16.5-2.11.0.
2. Join the world.
3. Cut the tree with any axe.
4.

https://user-images.githubusercon

[2021-03-28 18:53] Rakambda commented on #80
Honestly I'm not really sure if I can do anything about it.

What happens:
* FallingTree will handle the breakSpeed event as it have a priority `NORMAL` (ref: https://github.com/RakSrinaNa/FallingTree/blob/1.16.5-forge/src/main/java/fr/raksrinana/fallingtree/ForgeEventSubscriber.java#L45-L62)
  * In your case this will set the break speed as being `0.4 * <time to break one log> * log_count`
* Then

[2021-04-07 18:53] bur8ver opened #81 ""Secure mod features disabled, update JDK" Trees do not fall"
The mod does not do anything even though it is in the mods folder. The screen says:
[code]

 - Minecraft verson: [e.g. 1.14.4]
 - Mod loader: [Forge]
 - Mod version: [2.11.0]

Imgur link to pictures: https://imgur.com/a/p9pdO0G

Please tell me if I did something wrong when installing this mod. If I didn't install it wrong I hope this issue can be fixed soon. Thank you for reading,
![Screen Shot 20

[2021-04-07 18:56] Rakambda commented on #81
This isn't a mod issue.

This is forge telling you to upgrade your JDK to use it.
What version of Java do you have (can be seen in the F3 menu while in game) ?

If this is less than 1.8_281 then you're not up to date.
Download can be found here: https://www.oracle.com/java/technologies/javase/javase-jdk8-downloads.html

Edit:
Another way:
![image](https://user-images.githubusercontent.com/1688389/

[2021-04-07 19:10] Rakambda commented on #81
For reference: https://github.com/cpw/modlauncher/blob/master/src/main/java/cpw/mods/modlauncher/api/IEnvironment.java#L117

[2021-04-07 19:13] Rakambda commented on #81
Well it happens for me too, I'll look a bit more into it. Though the message of the "Secure mod disabled" shouldn't cause any issues and the mod should run fine.

[2021-04-07 19:19] Rakambda commented on #81
To remove the "Secure" message, you have to have a not super mega old version of Java and, this is important, tell the Minecraft launcher to use it. By default the launcher uses a Java version that is bundled with it and that is super old. You can probably search online how to change the minecraft version used but essentially:

![image](https://user-images.githubusercontent.com/1688389/113921885-e

[2021-04-07 19:24] bur8ver commented on #81
Hello, thanks for answering. I see the picture of you using the configure Java app. I am on an iMac so I had to do it a bit differently. It says that I have Java 8 Update 281. I think that is up to date. When I tried punching trees in creative and survival they didn't fall and I couldn't use the mod.

I will try searching online to see how to change the version of java that Minecraft uses.

![Scre

[2021-04-07 19:26] Rakambda commented on #81
Your java seems "up to date", at least recent enough. Just that minecraft doesn't use it to run minecraft.

As I said the mod should work fine even with the "secure" message displayed.

The thing is:
* To break trees in creative, you need to update the configuration to allow it to do so.
* To break trees in general, you need a tool (axes by default)

[2021-04-07 19:28] Rakambda commented on #81
If you do the change in the profile of your minecraft installation to set your own java (https://github.com/RakSrinaNa/FallingTree/issues/81#issuecomment-815163661), it should ressemble something like ` /Library/Java/JavaVirtualMachines/jdk-8 ....` on osx.

[2021-04-07 20:20] bur8ver commented on #81
I'll get back to you once I figure this out. Thanks for helping.

[2021-04-09 10:57] Rakambda commented on #81
Jar is now signed. Won't change anything on how it works but i'll display signature information if a not too old java is used (other than the bundle one).

[2021-04-09 10:59] Rakambda commented on #80
The commit above is now released. It won't change anything to the problem.

As said in the comment above, it needs action from project MMO too. And as it seems like nothing changed, i'll close it for now.

[2021-04-09 10:59] #80 closed, assigned to Rakambda

[2021-04-13 16:53] Rakambda opened #90 "Build single jar file for both Forge and Fabric"
This provides an alternative to #74

[2021-04-13 16:57] Rakambda commented on #90
Basically done with 8c7c57ac9a7fe4df028bef2848ee3ac800e60713

[2021-04-13 16:57] #90 closed, assigned to Rakambda

[2021-04-14 14:00] MeeniMc opened #94 "New version 2.11.1 (unified fabric+forge) crashes on load"
**Describe the bug**
Dedicated server crashes on load.
It works fine on singleplayer.

**To Reproduce**
Steps to reproduce the behavior:
1. switch mod from 2.10.0 to 2.11.1
2. launch dedicated server
3. crashes with error `this.config is null` in autoconfig

**Infos:**
 - Minecraft version: 1.16.5
 - Mod version: 2.11.1 (autoconfig1u@3.3.1)
 - Fabric version: 0.11.3

If you provide a crash report

[2021-04-14 14:53] Rakambda commented on #94
I can't reproduce it.

[code]

I see that you mentionned autoconfig1u's version in your post. Do you load it manually?
Starting clothconfig 4.9 it is bundled with it and not needed as a separate mod.

Could be nice if you can provide the list of mods you load.

[2021-04-23 15:13] Ofimofii opened #97 "Tinker's Construct Compatibility"
I love the mod the only problem I have is that it does not work with 1.16.5 Tinker's.

[2021-04-23 15:22] #81 closed, assigned to Rakambda

[2021-04-23 15:28] Rakambda commented on #97
What exactly does not work?

Whitelisting `tconstruct:axe` allows me to use it perfectly fine:

![ezgif com-gif-maker](https://user-images.githubusercontent.com/1688389/115894232-50d34600-a459-11eb-9827-63820e7b3603.gif)

[2021-04-24 06:41] MeeniMc commented on #94
Hey, I have retested with only fallingtree and fabric-api. Nothing else.

### Mods/software:
1. MC 1.16.5 SERVER (win64)
2. fabric-api 0.32.5
3. fallingtree-2.11.1 (unified)

### Replication steps:
1. Start the server for the first time, the server will start and create a new config file `config/fallingtree.json5`
2. Stop the server
3. Restart the server, the server will fail to load with the atta

[2021-04-24 07:27] Rakambda commented on #94
I can reproduce it, thanks. Will look into it.

[2021-04-24 07:37] Rakambda commented on #94
Root cause is `Cannot load class me.shedaniel.autoconfig.gui.registry.GuiRegistry in environment type SERVER`.

[2021-04-24 07:59] Rakambda commented on #94
Seems to work on my side now. I let you try it to be sure before I release the fix :
https://www.dropbox.com/t/Poh3xuk5YavEO4st

[2021-04-24 08:04] Rakambda opened #98 "Forge 36.1.10+ doesn't load mod"
**Describe the bug**
Mod doesn't load and displays message
[code]

Forge 36.1.4 doesn't have this problem.

**To Reproduce**
Steps to reproduce the behavior:
1. Start Minecraft with the given versions

**Infos:**
 - Minecraft version: 1.16.5
 - Mod version: 2.11.1
 - Forge version: 36.1.12

[2021-04-24 08:08] Rakambda commented on #98
Changes from https://github.com/MinecraftForge/MinecraftForge/issues/7696 seems to now require a version range to be set for dependencies.
Fixed with 3340e0d66d296590141d1e087e3d768d94ed985a

[2021-04-24 08:08] #98 closed, assigned to Rakambda

[2021-04-24 08:56] MeeniMc commented on #94
Everything works as intended

[2021-04-24 09:02] #94 closed, assigned to Rakambda

[2021-04-24 12:34] Zidiath opened #99 "Enchant varient"
Enchanting variant in the config to lock the FallingTree event behind a enchantment

[2021-04-24 12:58] Rakambda commented on #99
I don't really know if I'll do it for now. But it's a good suggestion.

Pros:
* Easier than a whitelist/blacklist
* Can be enable per item instead of per "item type"

Cons:
* Would need to have the mod on both server and client, couldn't have it only server side

I don't know if it'd be better to have 2 separate mods, one working with a whitelist/blacklist, and the other with the enchant. To me it

[2021-04-24 17:40] BrekiTomasson opened #100 "Compatibility issue with Croptopia"
Mod Versions:
- Croptopia: `FABRIC-1.3.3`
- FallingTree: `2.11.2`

After updating FallingTree to the most recently released version, a compatibility issue between it and Croptopia appeared, causing the client to crash on load. Disabling _either_ mod will make the client work again, but considering it worked in previous versions of FallingTree with the current version of Croptopia, I suspect the pr

[2021-04-24 17:42] BrekiTomasson commented on #100
Opened https://github.com/ExcessiveAmountsOfZombies/Croptopia/issues/108 as well to get Croptopia's perspective on things.

[2021-04-24 18:25] Rakambda commented on #100
I'll take a better look a bit later but at first glance:

* For the mixins error the only ones that could interfere are the AxeAccess/AxeMixin. All others are from things totally unrelated.
* Regarding the update between FallingTree versions:
  * 2.11.2 is mainly bug fixing regarding cloth-config related issues. Doesn't seem to be involved here.
  * 2.11.1 could have break things. I moved a bit st

[2021-04-24 18:26] Rakambda commented on #100
Also just to make things clearer, when you say :

does this mean that 2.11.0 works ok, or versions pior to it works ?

[2021-04-24 18:36] Rakambda commented on #100
Running it with
* Croptopia-1.16.4-5-FABRIC-1.3.3
* fabric-api-0.33.0+1.16
* FallingTree-1.16.5-2.11.2

leads me to
[code]
even before the errors under the croptopia name.

Though without croptopia it does launch fine.

[2021-04-25 08:53] Rakambda commented on #100
I think I managed to have something working. Seems like both our mods used a refmap for the mixins that have the same name `fabric-refmap.json`.

Changing mine to something more specific to falling tree seems to fix the issue. Can you confirm it with that version please:
https://www.dropbox.com/t/izbp4dCuETyhq4Im

[2021-04-26 00:28] ExcessiveAmountsOfZombies commented on #100
apparently that was it, I went ahead and changed mine as well but I won't be able to release any updates for a while. Interesting to know

[2021-04-26 12:04] BrekiTomasson commented on #100
I never got around to testing it with v2.11.1, but I *did* test your updated version of v2.11.2, and that worked just fine, so it appears the `fabric-refmap.json` issue was the problem here. Good work on that analysis and fix!

[2021-04-26 12:35] #100 closed, assigned to Rakambda

[2021-04-26 20:32] AnpyHelp opened #101 "FallingTree mod doesn't work"
**FallingTree mod doesn't work**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. I added some mods. FallingTree mod stopped working. Help me please. I tried to change versions of the mod, but it doesn't help. I haven't ever opened the mod's config. I don't know the reason. Do you know some mods that could broke the mod?

**Infos:**
 - Minec

[2021-04-26 20:48] Rakambda commented on #101
Do you have a log file to provide (latest.log or debug.log in the logs folder) ? Just like that it's quite hard to tell.

[2021-04-26 20:49] AnpyHelp commented on #101
Do you have a discord? I can show you

[2021-04-26 20:52] Rakambda commented on #101
`RakSrinaNa#4089` but just as a way to send the log file. I won't do any support directly on it, I prefer that it is logged here so other people can refer to it if needed.

[2021-04-27 11:05] Rakambda commented on #101
Incompatibility due to Personality mod version 1.0.1. Version 1.0.2 fixed that issue.

[2021-04-27 11:05] #101 closed, assigned to Rakambda

[2021-04-27 15:25] Matusz27 opened #102 "Crash on startup"
**Describe the bug**
The game won't start

**To Reproduce**
Steps to reproduce the behavior:
1.  Install Fallingtrees

**Infos:**
 - Minecraft version: 1.16.5
 - Mod version: 2.11.1
 - Forge version: 36.1.13

![image](https://user-images.githubusercontent.com/52843750/116268399-90fa3780-a77d-11eb-9df9-2104ba0c8403.png)

[2021-04-27 16:05] Rakambda commented on #102
Already fixed in 2.11.2+

[2021-04-27 16:05] #102 closed, assigned to Rakambda

[2021-04-27 16:06] Rakambda commented on #102
Duplicate of #98

[2021-04-28 08:44] Zygus42 opened #103 "Incorrect conflict with Cloth"
**Describe the bug**
I was running the latest Forge version of this mod fine, but now I've added another Forge (Origins) mod that's been ported to Forge from Fabric, and it needs the Cloth (Forge) mod.  Your mod is now failing at startup with a message that it needs a different version of Cloth, even though it doesn't actually need Cloth at all.

**Infos:**
 - Minecraft version: 1.16.5
 - Mod vers

[2021-04-28 09:15] Rakambda commented on #103
Duplicate of #98

[2021-04-28 09:16] Rakambda commented on #103
Update to latest version

[2021-04-28 09:16] #103 closed, assigned to Rakambda

[2021-05-04 18:04] SneakyDevil opened #104 "Game wont start, claiming that it only support a mod that is already installed"
![image](https://user-images.githubusercontent.com/11374726/117048959-9279b180-ace1-11eb-97eb-00674839272f.png)

[2021-05-05 05:44] Rakambda commented on #104
Duplicate of #98

[2021-05-05 05:44] #104 closed, assigned to nobody

[2021-05-05 21:01] joeld98 opened #105 "2.11.3 not working with forge-1.16.5-36.1.16 Server"
**Describe the bug**
Neither FallingTree-1.16.5-2.11.3 or FallingTree-1.16.5-2.11.1 works with forge-1.16.5-36.1.16 Server.

Single player works fine with or without other forge mods loaded.

Multiplayer does not work either with just server side or server and client side loaded.

Tried on existing Forge and fresh install of both client and server

**To Reproduce**
Steps to reproduce the behavior:

[2021-05-06 02:45] #105 closed, assigned to Rakambda

[2021-05-06 02:47] joeld98 commented on #105
This ended up being a permissions issue on the server. Clean install ion another server and everything worked fine.

[2021-05-06 06:02] #97 closed, assigned to Rakambda

[2021-05-15 09:02] #63 closed, assigned to Rakambda

[2021-05-15 09:03] Rakambda commented on #62
Included in the tools config page https://github.com/RakSrinaNa/FallingTree/wiki/Settings---Trees

[2021-05-15 09:03] #62 closed, assigned to Rakambda

[2021-05-15 09:03] Rakambda commented on #61
Included in the tree config page https://github.com/RakSrinaNa/FallingTree/wiki/Settings---Trees

[2021-05-15 09:03] #61 closed, assigned to Rakambda

[2021-05-15 09:03] Rakambda commented on #60
Included in the tree config page https://github.com/RakSrinaNa/FallingTree/wiki/Settings---Trees

[2021-05-15 09:03] #60 closed, assigned to Rakambda

[2021-05-16 09:13] qwitwa opened #107 "Shift Down compat w/ ProjectMMO"
**Describe the bug**
Similar to #11, Project MMO does not give experience for woodcutting when blocks are cut with the Shift Down setting on Falling Tree. Loris in the PMMO discord claimed this was because the ShiftDownTreeBreakingHandler sets the event to cancelled.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a game with PMMO and Falling Tree with the Shift Down setting on
2. Brea

[2021-05-16 09:32] Rakambda commented on #107
I'm aware of this but won't be able to do too much about this.

The issue is like "Loris" told you. In the case of shift down FallingTree marks the breaking event as cancelled (so like if nothing happened). That is because it isn't breaking the log that you're targeting but instead breaks the one the furthest away.

What happens under the hood is:
* Forge tells that a block has been broken (event)

[2021-05-16 09:41] Rakambda commented on #107
Or maybe more simple we could setup IMC in place between the two mods. Without requiring an interface as it'd be handled by forge.

[2021-05-16 10:57] Caltinor commented on #107
RakSrinaNa,

What you could do is post your own event when you break the distant log.  In this way you still cancel the breaking of the targeted log, but the other log triggers an event that other mods can detect.

for example on line 32 of `ShiftDownTreeBreakingHandler` you could insert
[code]

This has the added advantage of protecting tree branches that might cross over into protected claims, t

[2021-05-16 12:38] Rakambda commented on #107
Yeah I like the idea of firing an event. It's simple and doesn't require any additional things from other mods. It simple "patches" the fact I break another block and notify it to others.

Though that means I have to fire the event before actually breaking the log (as we send just the world & the position), which means I'll also receive the event myself which will trigger a tree detection and loop

[2021-05-16 14:47] qwitwa commented on #107
Yeah, this works great, thanks.

[2021-05-17 01:27] Caltinor commented on #107
@RakSrinaNa I develop mods that do parcel protection.  the cancellation is done on the protection mod end.  All you need to check is whether the event is cancelled or not.  So you create an instance of your event, post it to the event bus, then on the next line, you can check `if (event.isCanceled()) dontDoTheBehavior();`

the example from above is a simple implementation of this, but if you don't

[2021-05-17 11:59] #107 closed, assigned to Rakambda

[2021-05-26 12:32] FuryOfOlympus opened #113 "Doesn't work on small server within a modpack"
**Describe the bug**
I am using the Fabric of Life modpack, but when I try to use this on a server this mod stops working.
Does anyone have an idea of how this might happen?
It does work on a single player instance, and the mod is installed on the server.

**To Reproduce**
Steps to reproduce the behavior:
1. Load the Fabric of Life modpack on a server
2. Fail

**Infos:**
 - Minecraft version: 1.16

[2021-05-26 16:58] Rakambda commented on #113
Can't reproduce with just FallingTree.

Either:
* You have a configuration on the server that deactivate the tree breaking / invert sneak / ....
* One of the other mods makes it incompatible server-side

If this is the latter I'll be long to find with pair of mods brings the problem. The easiest is to shrink the mods by 2 each time.
So for example:
* Start minecraft with half the mods (FT included

[2021-05-27 08:07] KingNut opened #116 "cloth-config not working --> Crash"
not working with cloth-config 4.11.26

I need 4.11.19 or higher for other Mods

tested downwards to 4.11.14 and not working (Crash)

`[27Mai2021 10:01:35.168] [main/INFO] [cpw.mods.modlauncher.Launcher/MODLAUNCHER]: ModLauncher running: args [--username, Wurstkrieger, --version, 1.16.5-forge-36.1.23, --gameDir, D:\Minecraft\Spielversionen\1.16.5 Forge, --assetsDir, C:\Users\KingNut\AppData\Roaming

[2021-05-27 09:54] Rakambda commented on #116
To me looks like a duplicate of #98

What's the FallingTree version? Could have followed the issue template...

[2021-05-27 15:47] KingNut commented on #116
FallingTree-Forge-1.16.5-2.11.1 (latest)
Forge 36.1.23
MC 1.16.5

And yes, looks like the closed [#98](https://github.com/RakSrinaNa/FallingTree/issues/98) issue.

It happens again with the latest versions on curseforge :(

[2021-05-27 15:51] Rakambda commented on #116
2.11.1 Isn't the latest. Latest is 2.11.4.

[2021-05-27 15:57] KingNut commented on #116
yes i checked again. on 21.05.2021 curseforge show me 2.11.1 is the latest. but you uploaded on 17.05.2021 the 2.11.4

curseforge is kidding me :(

Sorry for this useless time ...

[2021-05-27 15:59] Rakambda commented on #116
Curseforge probably doesn't show it because it isn't identified as a Forge mod.

Sadly forge doesn't allow me to check Forge AND Fabric, I can only pick one. So I picked none....

[2021-05-27 16:00] #116 closed, assigned to Rakambda

[2021-06-09 06:52] goodideagiver opened #126 "Separate config for nether and overworld trees/nether wart blocks breaking adjustment"
When using `shift down` option on nether trees there should be a separate option for nether trees leaves to be destroyed instantly, because otherwise breaking of the trees using this method is very slow since every wart/leaf block is broken with your axe one by one.

Alternative 1: Separate breaking speed option for wart blocks

Alternative 2: Decay wart blocks like overworld trees leaves

[2021-06-09 07:16] Rakambda commented on #126
Yeah good point.

1 - Will probably do this approach. Since the warts are meant to be broken with a hoe it makes sense that with the axe it's slower.

2 - I don't really like this approach as the warts are not decayable but meant to be broken by you (the big difference is that you damage your tool with warts while you don't with decaying leaves)

3 - What if there's a true/false option that allows

[2021-06-09 12:22] goodideagiver commented on #126
1 - To be precise I thought of wart blocks faster breaking option because now it takes forever to see first nether log when using`shift down `

3 - that sounds cool, but maximum distance from trunk needs to be specified. I realized that using `shift down` tends to suck adjacent trees wart blocks

[2021-06-09 14:09] Rakambda commented on #126
For the first point do you have an example of when it eats up the warts of another tree?

It currently keeps only warts that are maximum 4 blocks (max from the generation) away from from the hit position (only on the x/z plane). Maybe a check should be added on the y value? Like when it happens it's because trees are "stacked" and it destroys a bit column of warts?

[2021-06-09 17:59] Rakambda commented on #126
I thought a bit about it but in general wouldn't it makes more sense while you're in shift down mode to simply deactivate the "break warts" flag and simply break them manually with the appropriate tool?

[2021-06-10 06:01] goodideagiver commented on #126
This option would also be nice to have. Personally I find breaking wart blocks extremely boring and that's why I suggested above solutions.

Another interesting option would be shift down mode for a hoe to remove wart blocks 🙂

[2021-06-11 09:04] TGDJ opened #128 "Mod won't cut down any tree"
**Describe the bug**
Mod will not cut down any tree, I tried messing with the config but still wont work.

**Infos:**
 - Minecraft version: 1.17
 - Mod version:      2.11.4
 - Fabric version:   0.34.10+1.17

[2021-06-11 09:46] Rakambda commented on #128
I can't reproduce. Maybe you can share your config and explain a bit more what game mode you're in, what tool you use etc ?

[2021-06-11 19:52] TGDJ commented on #128
Using an Axe, any axe stone Iron wood etc. On survival Minecraft realms
{
	// When set to true, a tree will only be chopped down if the player is sneaking.
	"reverseSneaking": false,
	// When set to true, the mod will cut down trees in creative too.
	"breakInCreative": false,
	"trees": {
		/* Additional list of blocks considered as logs and that will be destroyed by the mod.
		   INFO: Blocks mark

[2021-06-11 20:20] Rakambda commented on #126
So I went on and implemented the option :

And it looks something like this (with the option turned on):
https://youtu.be/QQ5eBxDSe9Y

The warts detection isn't the best for sure when trees are close together but I can't do any better than this. Trees are checked in a 9*9 are centered on the trunk (this is the max size of a nether tree, see at 01:07).
Though I think it could answer your need as wa

[2021-06-11 20:23] Rakambda commented on #128
If playing on a server then the mod needs to be installed server side.

I don't really know how realms work but I think it isn't possible to install mods there.

[2021-06-11 21:18] #128 closed, assigned to Rakambda

[2021-06-12 13:11] goodideagiver commented on #126
That looks great. I hoped that for `Another interesting option would be shift down mode for a hoe to remove wart blocks ` option you could just reuse code for logs and make axe ignore warts and just chop down the wood.

[2021-06-12 15:21] goodideagiver opened #129 "Tooltip for Max tree size false information"
**Describe the bug**

Max tree size config option restricts `shift down` mode, but tooltip specifically says it's only for `instant` mode

**To Reproduce**
Steps to reproduce the behavior:
https://streamable.com/1tum4r

**Infos:**
 - Minecraft version:     1.16.5
 - Mod version:            2.11.4
 - Fabric API version:     0.34.6

[2021-06-12 15:36] Rakambda commented on #129
You're right. I think i'll just remove the text in the tooltip and make it apply to both (like now).

I changed the way it was done some time ago and is actually now performed when the tree is "detected" to avoid lags if lots of trees are touching in a dense forest. So if you play with other mods that have larger trees you'll have to bump up a bit the max size value like you did.

Thanks for the i

[2021-06-12 16:22] #129 closed, assigned to Rakambda

[2021-06-15 07:39] Rakambda commented on #126
I tried to do different things to make the config clearer and maybe do the shift down with hoes but for now it's either breaking everything or get an even messier config x).

So for now i'll give you the jar if you wanna try for yourself and I'll release it in a few days like this I think.
Then eventually when I have a better idea on how to do this without breaking everything then I'll consider do

[2021-06-17 06:38] goodideagiver commented on #126
I tested the jar and the new functionality for breaking warts works nice! Hovewer I found out that It's easy to loose your axe because I think there is no protection if axe has too little durability to eat the warts (there is also no sound if the axe breaks).

I'm looking forward to shift down for wart blocks being implemented in the future :)

*It happened only once but I think there was a situat

[2021-06-17 10:17] Rakambda commented on #126
With preserve tools : https://www.dropbox.com/t/nmA1cTGEUnXbHsOa

If you manage to reproduce it and have a clearer idea on the situation when this happens I can look into it. Maybe this can be done in a separate issue though? Like that if this version seems fine for you I can already release that.

[2021-06-17 16:31] #113 closed, assigned to Rakambda

[2021-06-24 18:11] Rakambda opened #137 "Handle warts like trees (instantaneous & shift down)"
### Describe the feature

From #126

[2021-06-24 18:11] #126 closed, assigned to Rakambda

[2021-06-25 11:43] ZEkA10000 commented on #98
So...
I have forge 36.1.32
With Falling tree v2.11.1 i got this error: `Mod fallingtree only supports cloth-config. Currently. cloth-config is 4.11.26`
With newer version of Falling tree I get minecraft chashes (even Not Enough Crashes don't helps me)

[2021-06-25 11:44] Rakambda commented on #98
Look the milestone this issue is attached to... This is fixed in 2.11.2. So either you have to update the mod, or use a forge version previous to 36.1.10.

[2021-06-25 11:49] ZEkA10000 commented on #98
I got it. Minecraft crashes with new versions of Falling Tree because it has conflict with OffHand Combat mod.
I just deleted OffHand Combat mod and without errors.

[2021-06-25 11:55] ZEkA10000 commented on #98
Lmao. In v2.11.5 mod forgot how to break trees.

[2021-06-25 12:31] Rakambda commented on #98
If you have an issue with that version please open a different issue.

[2021-06-28 22:04] Roll4Ignition opened #139 "Tree leaves"
### Describe the bug

When chopping down a tree, the leaf blocks fall instead of saplings and twigs.

### Minecraft version

1.17

### Fabric API version

0.36.0

### Mod version

2.12

### Relevant log output

_No response_

[2021-06-29 06:25] Rakambda commented on #139
Is that with a vanilla tree? If so I can't reproduce.

If it's with a modded tree please include its name and mod.

[2021-06-29 13:51] Roll4Ignition commented on #139
Okay thank you. It may be something server side then. It is just vanilla
trees. Sorry about that.

On Tue, Jun 29, 2021, 02:25 Thomas Couchoud ***@***.***>
wrote:

[2021-06-30 11:37] Julyoso opened #141 "server-sided not working"
### Describe the bug

Is this working on Multiplayer server? because this works for me on single but not multiplayer. Ive already got it on my minecraft mod file and in the fabric server mod file BOTH OF THEM. (i am using my own server btw).  Please help!

### Minecraft version

1.17

### Fabric API version

1.17 0.36

### Mod version

1.17

### Relevant log output

_No response_

[2021-06-30 11:42] Rakambda commented on #141
It is supposed to.

Mod version is invalid though.

[2021-06-30 12:55] Julyoso commented on #141
wdym version is invalid?

[2021-06-30 12:56] Rakambda commented on #141
The mod version `1.17` does not exists

[2021-06-30 12:57] Julyoso commented on #141
1.17 of your fallingtrees ?!

[2021-06-30 12:58] Rakambda commented on #141
Yeah, it should be something like `1.17-x.y.z`

[2021-06-30 12:59] Julyoso commented on #141
But 1.17 works on single player? So does it mean its somewehat compatible for the singleplayer but wont work in the current 1.17 fabric?

[2021-06-30 13:02] Rakambda commented on #141
It should work on both. But If I don't know the version I can't test it.

[2021-06-30 13:03] Julyoso commented on #141
Ohhh, now i know what you mean by 1.17-x.y.z then its your latest which is 1.17-2.12.0

[2021-06-30 15:59] Rakambda commented on #141
I cannot reproduce, works fine for me. My guess is that the mod isn't installed on your server.

If you could provide the `latest.log` from the server logs that'd help.

[2021-07-03 15:27] goodideagiver opened #145 "Allow shift down only when tree is rooted"
### Describe the feature

In depth explanation:
An option to check if any of the blocks at the very bottom of the tree are connected to dirt/grass or netherrack (nether trees).

Additional options:
1. Set a radius. Example: If the block at the bottom of the tree has dirt/grass/netherrack in a set radius - the tree will be cut
2. Grass like block whitelist (for other mods etc.)

Why this feature?
T

[2021-07-03 15:42] Rakambda commented on #145
I get the point of this feature. Though this doesn't go well with shift down. If for example you break the tree with the 2nd block from the ground, at some point it won't be touching the ground.

Adding this would just add again another config and make it even more complex than it already is. In my opinion this can be solved with the "adjacent blocks" whitelist option. I'm aware that this is quite

[2021-07-03 16:17] goodideagiver commented on #145
I tried using this list and It didn't allow me to cut jungle trees even when I specified minecraft:vine adjacent block

[2021-07-03 16:19] Rakambda commented on #145
You probably also need to add the cocoa beans and grass/dirt. Maybe I can improve that a bit by displaying in the logs what block prevented the tree to be cut.

[2021-07-03 17:23] goodideagiver commented on #145
There was no cocoa beans and grass+dirt was also whitelisted

[2021-07-03 17:30] Rakambda commented on #145
Do you perhaps have the seed + coordinates so I can see a bit what the tree looks like ? (if you don't have other mods that change world generation tho)

[2021-07-03 17:37] goodideagiver commented on #145
It was a regular jungle tree spawned by growing it from 4 saplings. Every other vanilla tree type was working properly.

[2021-07-03 17:49] Rakambda commented on #145
Setting minecraft:dirt and minecraft:vine as adjacent blocks worked fine for me after I grew a jungle tree.

You can try with this version (1.17 fabric, as I don't know what version you use), it will log in the console/logs what block prevented the cut: https://www.dropbox.com/t/ij7UpgqFA1gzry81

Eg: `[19:42:02] [Server thread/INFO] (fallingtree) Didn't cut tree at Block{minecraft:oak_log}, reason

[2021-07-03 18:12] goodideagiver commented on #145
I couldn't reproduce my first issue because It was on a server so I had to fix it quickly. Now I specified the blocks
![obraz](https://user-images.githubusercontent.com/55458485/124363229-65427480-dc3a-11eb-82ab-5d6a804e62af.png)
and it works as intended. I think the original issue might have been created by config file not being updated properly on the server.

I tested the jar and the message wo

[2021-07-03 18:30] Rakambda commented on #145
I'll try to display it in the action bar a bit later (I actually don't know how to do it haha, if I don't find it it'll end up in the chat anyway). I'll probably try to log some other things while I'm at it.

[2021-07-03 20:15] Rakambda opened #146 "Display messages in action bar"
### Describe the feature

From #145, display messages to the player in the action bar

[2021-07-03 20:21] #146 closed, assigned to Rakambda

[2021-07-03 20:22] Rakambda commented on #146
![2021-07-03_22 13 17](https://user-images.githubusercontent.com/1688389/124366055-210c9f80-dc4d-11eb-9e80-c251d4baf1fd.png)

[2021-07-03 20:27] Rakambda opened #147 "Adjacent blocks are not checked on hit log"
### Describe the bug

When breaking a tree with adjacent whitelist, the broken block doesn't check its adjacent blocks.

### Minecraft version

1.17

### Fabric API version

-

### Mod version

2.12.0

### Relevant log output

_No response_

[2021-07-03 20:42] #147 closed, assigned to Rakambda

[2021-07-03 20:43] #145 closed, assigned to Rakambda

[2021-07-04 10:17] LucasVon opened #148 "Do not include stripped logs as default logs"
### Describe the feature

I'm not sure how this could be best implemented, so I think it's best if I explain the issue I'm having first.

The issue I've ran into is that any and all kinds of logs are whitelisted by default and that can't be changed with the adjacent blocks whitelist option. What this means is that if there's, for example, a stripped log adjacent to the tree, it will still cut the

[2021-07-04 10:58] Rakambda commented on #148
_As a general response:_

To me it doesn't really make sense to have a "strict" list, or at least an adjacent list that doesn't contain the whitelisted leaves + logs. As they are what defines a tree, it is an adjacent block to a tree.

Now as for the original issue, this is because stripped logs are tagged as `minecraft:logs` by minecraft. A way to solve your problem is simply to blacklist them as

[2021-07-04 11:50] LucasVon commented on #148
Setting the blacklist config as you said did solve my issue, thank you!

My apologies, I expressed myself poorly there. What I meant is that when a tree grows, the only kind of log that is generated (unless I'm very much mistaken) is the regular one, not the stripped or the wood variants. So a stripped or wood block next to it could be safely assumed to not be part of a naturally generated tree.

[2021-07-04 17:57] Rakambda commented on #148
I'll see if I can do that, but from afar I think it won't be that easy.
I can maybe at least remove the vanilla ones.

[2021-07-10 02:44] alphaniner commented on #139
@Roll4Ignition do you have [MineGate · MoreBlocks](https://www.curseforge.com/minecraft/mc-mods/minegate-moreblocks) installed? That mod causes this behaviour.

[2021-07-10 02:55] Roll4Ignition commented on #139
I do not. It's only happening on a server I have, no where else

On Fri, Jul 9, 2021, 22:44 alphaniner ***@***.***> wrote:

[2021-07-12 13:54] Rajbir98 opened #155 "Falling Animations Of Trees"
### Describe the feature

## Falling Animations Of Trees like Chop Down Updated its a forge mod ##
Link Of Mod:  https://www.curseforge.com/minecraft/mc-mods/chop-down-updated

[2021-07-18 07:30] Rakambda commented on #155
Sorry for the delay.

I don't really see how this would be done though. As when you break the tree everything instantly breaks there's no interest into making it fall to the floor.

If what you want is to basically make the trees fall on the ground instead of being destroyed I think there is already a fabric mod that also does this. https://www.curseforge.com/minecraft/mc-mods/trees-do-not-float

[2021-07-28 23:44] Hir0shiyt opened #171 "Cloth-config isn't working"
### Describe the bug

When i just tried to open forge it said me that tree chopper mod only supports cloth-config and it didn't said me the version needed

### Minecraft version

1.16.5

### Forge version

36.2.0

### Mod version

2.11.1

### Relevant log output

[code]

[2021-07-28 23:46] Hir0shiyt commented on #171
Oh, here u have the log
[28jul2021 17:52:06.630] [main/INFO] [cpw.mods.modlauncher.Launcher/MODLAUNCHER]: ModLauncher running: args [--username, Hir0shi_MC, --version, 1.16.5-forge-36.2.0, --gameDir, C:\Users\Juan Esteban\AppData\Roaming\.minecraft, --assetsDir, C:\Users\Juan Esteban\AppData\Roaming\.minecraft\assets, --assetIndex, 1.16, --uuid, 1ac81d2a845b4b06a004a999573bce08, --accessToken, ???

[2021-07-29 00:45] Rakambda commented on #171
Duplicate of #98

[2021-07-29 00:45] Rakambda commented on #171
Either downgrade forge or update the mod.

[2021-07-31 16:47] General-Radek opened #174 "Mod don't load"
### Describe the bug

On launch minecraft forge says this mod is for fabtic however there is forge support added in the changelog for the version...

### Minecraft version

1.17.1

### Forge version

37.0.15

### Mod version

2.12.2

### Relevant log output

_No response_

[2021-07-31 17:40] Rakambda commented on #174
Can you try redownloading it?
I saw that and actually deleted the pushed version on curse and reuploaded it.

[2021-07-31 17:44] General-Radek commented on #174
Done, same problem, nothing changed

[2021-07-31 17:56] Rakambda commented on #174
Should be good now, will reappear on curse in a bit

[2021-07-31 18:38] General-Radek commented on #174
Downloaded the last file, now it works, and works just fine! Thank you!

[2021-07-31 18:39] #174 closed, assigned to Rakambda

[2021-07-31 18:50] #139 closed, assigned to Rakambda

[2021-07-31 18:52] #141 closed, assigned to Rakambda

[2021-08-02 03:57] #171 closed, assigned to Rakambda

[2021-08-05 21:34] MobButcher opened #180 "Crash caused by trying to break a tree with a tool through a tall grass"
### Describe the bug

The crash happens when the player aims at a log block through a transparent block without a collision box that breaks instantly and tries to break the trunk of the tree through it.

Expected result:
Trying to start breaking the log the transparent block breaks normally and "transfers" the breaking action target to the tree.

Actual result:
The game freezes exactly at the mome

[2021-08-05 22:01] MobButcher commented on #180
Cannot replicate the issue with barebones mods like Sodium and other optimization ones. TreeFalling is involved for sure, because I couldn't replicate the crash without it or with any other similar mod.

[2021-08-06 00:08] MobButcher commented on #180
With these mods:
[code]
I've managed to make to get the error without crashing.
[code]

Adding [DynamicFPS](https://dapprgames.com/mods/) breaks the game.

~~I'll edit this message here to see if disabling DynamicFPS will eliminate the crash completely or if there's something else in my whackload of mods to blame.~~
Adding other mods crashed the game completely, but it still remains a question wha

[2021-08-06 06:38] Rakambda commented on #180
[code]

This is happening way down in the Minecraft stack. I think this is more due to a mod that changes some core aspect of the game (like you said, sodium, dynamicfps, ...). Though the whole stack seems to be only Minecraft so that's weird.

As this is ConcurrentModificationException it may not be reproducible all the time, but FallingTree may help see that issue as it breaks a lot of blocks at

[2021-08-07 09:15] Rakambda commented on #180
I can't reproduce it with just FallingTree, so seems it clearly has something to do while another mod is present. If you can identify which one that could help.

Another thing that is weird to me is the stacktrace. The class `net.minecraft.block.AbstractBlock#calcBlockBreakingDelta` doesn't exists anymore in 1.17.1. It should now be `net.minecraft.world.level.block.state.BlockBehaviour#getDestroyP

[2021-08-07 09:50] vahaala opened #182 "Tree block don't always break in singleplayer, with speed multiplicand of 1"
### Describe the bug

I'm playing a stricte singleplayer world, and with this mod enabled, trees don't always break on the first try when I enable the "speed multiplicand" feature (on screenshot). It's basically like the thing mentioned in description of this option is happening in singleplayer too, just at random. Block breaks, I see and hear the animation, but nothing happens and tree log is sti

[2021-08-07 09:58] Rakambda commented on #182
There could be a desync but seems kinda weird. Else it'd be happening with all the blocks. Even in single player there's actually a server and client part. Just that you host the server yourself.

The mention in the config description is a problem that happens if the configs on each end are different. Like the client says this block is broken in .5s, while the server it is in 1s. In your case this

[2021-08-07 10:33] MobButcher commented on #180
Just tried the updated .jar, bonemealed grass near a tree and tried to break through it: no crash, no error in logs, everything seems to look alright. I'll test it out a bit more, but for now it *seems* to be fixed. Also, #182 has also happened to me, albeit I use speed multiplicand of 1.2. I'll test the new version to see if switching to ConcurrentHashMap fixes that too.

About mods that have bee

[2021-08-07 10:45] MobButcher commented on #180
With the new version, try all I might, I couldn't reproduce this issue or #182. Thank you for fixing it! I'll reopen it if it's not the case.

[2021-08-07 10:45] #180 closed, assigned to Rakambda

[2021-08-07 11:16] MobButcher opened #183 "Breaking a tree creates un-pick-up-able ghost items that constantly fall down; reloading into the world causes a crash."
### Describe the bug

While using the [921faac](https://github.com/RakSrinaNa/FallingTree/commit/921faac3f56bef7406d58bdf14e439d90898e6ea) version and testing it for potentially fixing #180 and #182, while breaking trees I've come up with a couple of issues:

1. Console threw warnings about leaked memory from client-server communication being reclaimed which were coinciding with the trees being br

[2021-08-07 11:25] MobButcher opened #184 "Use leaf distance property to calculate which tree they belong to."
### Describe the feature

Sometimes trees have connected leaves that stay floating, fully or partially, after breaking one tree but not another. This is because they are close enough to still have distance small enough to be considered a part of another tree.

Modifying the algorithm that analyses leaf blocks would be a good solution:
- If breaking this tree log would cause the leaves to disconnec

[2021-08-07 12:54] Rakambda commented on #183
The stack overflow in the stack trace is linked to the advancement system. Seems like something triggered an advancement and is basically looping over itself. (Like if you unlock an advancement down the tree and it tries to unlock the whole branch, but its parent is itself).

Though I don't do anything with the advancements so that's rather weird. The only thing I do is update the "broken count" o

[2021-08-07 13:00] Rakambda commented on #184
I don't really know if it's easily doable. The idea is quite nice though. Will see what can be done.

Things to consider:
* The checks are done "lazily" in separate ticks, so need to find a way to have the distance "before" and "after
* Some leaves may not behave the same. Some may simply not decay or not based on a distance (not vanilla ones).

[2021-08-07 13:22] MobButcher commented on #184
Worst-case scenario, you can re-implement vanilla-style distance checking and compare against that. AFAIK, it's a simple [Manhattan distance](https://en.wikipedia.org/wiki/Taxicab_geometry). That, or you can cache data about leaves and their distance values after breaking a block for later comparison. Though now we run into problem of when to cache: before first block break or before each block br

[2021-08-07 15:04] MobButcher commented on #183
I tried it a couple of times, couldn't reproduce, and the issue seems to have fixed itself after I rebooted my game. I'll monitor my modpack for a few days to see if anything pops up. The negative index in crash report handler error still appears from time to time, though, but apart from freezing the game for a second or two it doesn't do anything else. If there's some kind of advanced debugging I

[2021-08-07 15:07] Rakambda commented on #183
Was it on a new world? I don't know how advancements works too much but maybe it could have been because you broke your "first log"?

For the negative index that's kinda hard to tell where it could come from just with the text.

[2021-08-07 15:43] MobButcher commented on #183
Nope, the floating thingy glitch happened while I was breaking my twentieth birch tree or something. Fun fact: after I relogged and picked them all up, the stats showed 99 for birch logs.

[2021-08-07 19:25] NoMoreStars opened #185 "(Mod version 2.12.2) Custom tree structures added by datapacks do not break leaves"
### Describe the bug

Attempted to use the FallingTree mod on a world using William Wyther's Overhauled Overworld and Terralith. Expected behavior was that custom tree structures added by both datapacks (for example, trees that generate in Terralith's Siberian Taiga biome) should break just like normal trees, as well as their leaves decaying. Instead, the trees can be chopped like normal but the l

[2021-08-07 20:15] Rakambda commented on #185
I don't know how these leaves are declared. But since it is in a datapack I guess it can't extend the LeavesBlock class.
So you probably have to whitelist them.

Edit: maybe it's normal leaves but just with a different color?
In any case the logic for the leaves is always the same: if the block is considered as leaves, the mod simply accelerate the random ticking speed on. So as long as the leaves

[2021-08-07 20:33] Rakambda commented on #185
Tried with a lot of those trees and didn't have any issue. Didn't find the ones you showed on the screens are there's a ton of biomes...

[2021-08-07 20:36] NoMoreStars commented on #185
Try the seed -2076151314 and run the command /locatebiome terralith:siberian_taiga and teleport to the coordinates that are listed in chat.

[2021-08-07 20:46] Rakambda commented on #185
![2021-08-07_22 46 34](https://user-images.githubusercontent.com/1688389/128613468-e1dd1388-2bb8-429d-81e1-eccfdeb6e055.png)
Doesn't really get me to the same place.

Edit: Ok, found some trees that don't have leaves decaying

[2021-08-07 20:51] Rakambda commented on #185
The reason is because the leaves generated are marked as persistent so they won't decay. It's the same as if they'd have been placed by the player.

![image](https://user-images.githubusercontent.com/1688389/128613566-7905cdf3-1191-43fe-87ae-568954f22932.png)

[2021-08-07 20:52] NoMoreStars commented on #185
Ah, gotcha. I'll make sure to report that the the dev of the datapack. Thanks!

[2021-08-08 20:59] goodideagiver commented on #155
Another simpler animation idea: break blocks in sequence instead of instant break of whole tree

[2021-08-09 13:11] MobButcher opened #187 "Enable tools.damageMultiplicand property to be float/double."
### Describe the feature

Having a penalty for using whole tree breaking at once is a nice bonus, but only allowing integers feels too much for me: I want tools to damage only a bit faster, not break twice or thrice as quickly. Since damage inflicted upon the tool is required to be an integer, you can ```round```, ```floor```, or ```ceil``` the amount of damage to get an integer, and expose roundi

[2021-08-09 23:28] dull4h4n opened #188 "Randomly crash immediately upon clicking (cutting) tree block"
### Describe the bug

This does not happen very often, but it does from time to time.
My only non-default settings are:
Damage 1
Speed multi: 1.0

It seems to happen almost every time I create a new world cutting with of the first few trees with an axe. Then it happens very infrequently.

Most common bug is breaking the tree block and then when it should break the entire tree, it plays the tree br

[2021-08-09 23:34] dull4h4n commented on #182
[code]

[2021-08-09 23:36] dull4h4n commented on #182
^This is what logs say every time a tree fails to break when you complete breaking of block.

I have it configured to calculate time and damage of entire tree upon breaking 1 block.

Damage: 1
Speed multiplicand: 1.0

[2021-08-10 05:21] Rakambda commented on #188
Duplicate of #180

[2021-08-10 05:21] Rakambda commented on #188
Update the mod to latest version

[2021-08-10 05:31] Rakambda commented on #182
The above stackstrace should be fixed in latest version already (#180).

[2021-08-10 10:54] Rakambda commented on #187
I'll need to change a few things regarding how durability is managed to make it work. But I think this is for the best as currently it isn't really that good.
But will implement that for sure after the bugs are a bit cleared away.

[2021-08-10 20:17] Rakambda commented on #187
This is a rather early way of doing things and I haven't tested it myself. As I changed parts of the damaging system there may be quacks. Though if you wanna give it a shot: https://www.dropbox.com/t/T9mLLLeSKzeNSDUl

[2021-08-10 20:34] MobButcher commented on #187
Thank you for the build! Also, this is a perfect opportunity to ask you one slightly stupid, but really important question: I want to clone your project and try to tinker with it and maybe even help you out with this feature. However, I sat here all day without being able to run it from Eclipse. Most I could manage was (finally!) getting rid of all the errors that plagued all throughout the code b

[2021-08-10 21:15] Rakambda commented on #187
Everything is made with Gradle. Dependencies, building etc.

I personally use IntelliJ (and basically just have to open the project, the rest is setup from Gtadle) so I don't know how it interfaces with Eclipse but I'm sure there's some docs online for that.

To build `./gradlew build`. To run fabric `./gradlew :fabric:runClient`. (From my head, I'll edit when I'm be at the comp if it was wrong).

[2021-08-10 21:24] Rakambda commented on #187
Oh and maybe the whole signing part may make you unable to build.
If it says things related to that try to comment out the `finalizedBy ...signJar` L71 in /build.gralde.

[2021-08-11 11:51] Rakambda opened #190 "Update wiki for rounding mode"
### Describe the feature

Title

[2021-08-11 21:07] skylorbeck opened #191 "Use of outdated FabricToolTags prevents modded tools from properly working."
### Describe the bug

So with 1.17, minecraft added it's own version of tools tags, albeit backwards. Minecraft now makes a list of every item that can be broken by a tooltype. In each tool, the tags of blocks that can be broken are listed.

I would suggest using ```helditem.getMiningSpeedMultiplier()>1.0F```
 instead of https://github.com/RakSrinaNa/FallingTree/blob/23769d79b0703826e5620c69881d87

[2021-08-12 14:17] #190 closed, assigned to Rakambda

[2021-08-12 16:51] Rakambda commented on #191
"Outdated", how is it outdated? I don't really see any reference that it is deprecated or something. Just it is the responsibility of the other mod makers to tag their tools properly.

Could be an idea too. Have to think if there could be cases where this actually selects more items than it shoud.

[2021-08-12 17:14] skylorbeck commented on #191
I would say it's outdated considering that vanilla has a tag system now and there is a pull for the FAPI to change Fabric Tags to use vanilla tags.
That check should never return anything else, as vanilla will always return 1.0F if the item held doesn't have the tag for the block you are breaking.
You could even use an accessor to look at the list yourself and check if the block the player is brea

[2021-08-12 17:42] Rakambda commented on #191
I looked a bit that PR fast, wouldn't it be "safer" to use the `itemStack.isSuitableFor(state)` when the PR is merged ?
I have to say that I didn't follow much this whole change of tags by Mojang with the mineables.

I'll do the getMiningSpeedMultiplier modification in the meantime.

[2021-08-12 18:03] skylorbeck commented on #191
I'll be honest, I didn't know about them either until about an hour before I made this issue post. Someone reported to me that when using my mod with yours, yours stops working. I found that it's because I have the option to disable my additional tools in the cfg, which causes a malformed JSON error in fabric tags because the item referenced isn't loaded, which causes the tags to be null and break

[2021-08-12 18:05] skylorbeck commented on #191
You could also do !==1.0F if you wanted to include tools that are slower than your hand... If those even exist.

[2021-08-12 18:12] Rakambda commented on #191
That's totally fine. If Mojang made some change that goes toward that direction of "the tool dictates what block it likes" then it should be taken into account.

[2021-08-12 18:13] #148 closed, assigned to Rakambda

[2021-08-12 18:25] Rakambda commented on #191
As it is linked to a report you have and investigated a bit the thing, I let you a build here with the modification so you can try to see if it fixes the incompatibility.
https://www.dropbox.com/t/gl3yrVCNSyqkSb4r

[2021-08-12 18:28] Rakambda commented on #191
As reference: https://github.com/Skylortrexler/Sentimentality3/issues/9

[2021-08-12 18:53] skylorbeck commented on #191
Looks like that works just fine!

[2021-08-12 18:53] skylorbeck commented on #191
Thank you for taking the time to do this

[2021-08-12 18:54] #191 closed, assigned to Rakambda

[2021-08-13 09:51] vahaala commented on #182
I've tested the newest release (2.12.3) in a creative world, but using /gamemode survival today. Went through 3 iron axes worth of durability (didn't have time for more sadly) on different types of trees, both vanilla and modded - Traverse to be specific, as well as different sizes of trees - 2x2 giant ones etc., and this particular issue didn't seem to appear even once. I think it can be safely m

[2021-08-13 09:58] Rakambda commented on #182
Thanks for the feedback

[2021-08-13 09:58] #182 closed, assigned to Rakambda

[2021-08-13 09:59] #188 closed, assigned to Rakambda

[2021-08-16 12:09] Rakambda opened #201 "Unify config read/write"
### Discussed in https://github.com/RakSrinaNa/FallingTree/discussions/199

<div type='discussions-op-text'>

<sup>Originally posted by **RDKRACZ** August 15, 2021</sup>
This lib is highly popular and its size is huge - ~90% of the size of your mod. It gets included in many mods so the modpack with 80 mods is 30 MB bigger in size than needed.
Or maybe you can release an additional version without

[2021-08-16 12:12] #185 closed, assigned to Rakambda

[2021-08-30 01:16] ITCMD opened #208 "Config / Documentation - Explain how to make lists"
### Describe the feature

Example:
[code]
This does not say how to separate items in a list. I would assume commas and spaces, however documentation in the config and / or the wiki would be greatly appreciated.

[2021-08-30 05:44] Rakambda commented on #208
The thing is that forge and fabric uses different format and will be hard to detail that without making it more complicated than it is.

Fabric follows a JSON5 format, while forge follow it's standard config format (toml I think).

What I can do though, is provide an example config as an example with all fields filled.

[2021-08-30 14:17] ITCMD commented on #208
Ok, just for the sake of me being able to config this for my server today, how does toml make lists? It's not a language I've worked with before.

[2021-08-30 14:35] Rakambda commented on #208
I can't check right now if it is TOML or not, but if it has a .toml extension then it should be.
In that case the black/whitelists will have same format as JSON: `["modid1:block1","modid2:block2"]`.

(https://github.com/toml-lang/toml#example)

[2021-08-31 19:04] Rakambda commented on #208
Added examples that doesn't make sense but that are fully filled.

https://github.com/RakSrinaNa/FallingTree/wiki/Settings---Examples

[2021-08-31 19:04] #208 closed, assigned to Rakambda

[2021-09-02 10:55] rajayonin opened #211 "Error when loading mod with Cloth Config API"
### Describe the bug

When trying to load the mod on client with the Cloth Config API, an error occurs stating:
`Mod fallingtree only supports cloth-config`
`Currently, cloth-config is 4.11.26`
This happens both while loading it with other mods and APIs and when loading it only with the mod plus the API.

### Minecraft version

1.16.5

### Forge version

36.2.0

### Mod version

2.10.1

### Releva

[2021-09-02 11:11] Rakambda commented on #211
Duplicate of #98

[2021-09-02 11:11] #211 closed, assigned to Rakambda

[2021-09-11 17:55] #183 closed, assigned to Rakambda

[2021-09-13 08:53] #187 closed, assigned to Rakambda

[2021-09-17 14:59] pirahtays commented on #97
@RakSrinaNa - Is this the correct way of doing this for the forge mod?  Because it doesn't seem to be working for me
[code]

[2021-09-17 16:04] Rakambda commented on #97
Yeah That should be the way. Though edit the setting file while Minecraft if not launched or use the in-game GUI.

If it doesn't work try to post your full config in a new issue and I'll try to replicate it.

[2021-09-17 16:29] pirahtays commented on #97
It did not, but I figured it out.  Might be a new change in tinkers but it appears you need to specify
`whitelisted = ["tconstruct:hand_axe", "tconstruct:broad_axe"]`

[2021-09-18 08:10] conneich opened #215 "[1.16.5] Blacklisted Tinker's Tool Not Working"
### Describe the bug

In testing for a modpack I tried to add a Tinker's Construct tool to the tools blacklist but Minecraft crashes on startup with this error: "Invalid value tconstruct:broad_axe - Expected the boolean value true."

### Minecraft version

1.16.5

### Forge version

32

### Mod version

2.11.5

### Relevant log output

[code]

[2021-09-18 08:12] Rakambda commented on #215
Can you share the content of your config file?

[2021-09-18 08:16] conneich commented on #215
[code]

[2021-09-18 08:18] Rakambda commented on #215
Try replacing `blacklisted = [tconstruct:broad_axe]` with `blacklisted = ["tconstruct:broad_axe"]`. The `blacklisted` is an array of strings so `key = ["value1","value2","value3"]`.

(You have an example here https://github.com/RakSrinaNa/FallingTree/wiki/Settings---Examples#forge)

[2021-09-18 08:22] conneich commented on #215
Jeeze I program and that just r/whoosh'ed me lol I even looked at the examples! Sorry but thanks for the quick help!

[2021-09-18 08:27] #215 closed, assigned to Rakambda

[2021-09-20 22:41] vPubneutral opened #216 "Shift down does not work"
### Describe the bug

When using shift down mode, the block does not break or drop, and the tree does not shift down or change in any way. The durability of the tool is still taken, so it seems like the mod is trying to do something and it just isn't working.

Here's a video showcasing the bug: [Video](https://youtu.be/AenkYBkfiJs)

EDIT: Forgot to mention this, but this happens with a brand new c

[2021-09-21 06:01] Rakambda commented on #216
I'll look into it a bit later. Just like that, do you know if it was working fine in the previous version?
My guess would be it's because of changes in the 2.14.0 version as I kinda touched a bit that area.

[2021-09-21 07:25] vPubneutral commented on #216
I tried every single version of your mod that supports Forge 1.17.1 (2.12.2-2.14.0) and the issue was present in all of them. The feature works fine on my 1.16.5 install with the latest version of your mod for that MC version.

[2021-09-21 08:33] Rakambda commented on #216
Weird that it's the jump from the MC version that introduces the bug. Can you share your config file so it'll be easier for me to reproduce later?

EDIT: I can reproduce

[2021-09-22 05:14] vPubneutral commented on #216
Saw your edit, gonna send it anyways just in case. Sorry it took so long to get back to you, internet has been kinda wack the past day or two cause of a flood.

[code]

[2021-09-22 17:21] Rakambda commented on #216
You can try this version, it should be fixed: https://www.dropbox.com/t/JQzHlx8TaUXa1aqb

[2021-09-22 17:44] vPubneutral commented on #216
I'll check it out once I get home from work.

[2021-09-23 01:03] vPubneutral commented on #216
Works perfectly, thank you very much.

[2021-09-23 06:03] #216 closed, assigned to Rakambda

[2021-09-29 01:15] WenXin20 opened #221 "Invalid block/tool ids treated as air"
### Describe the bug

Any invalid block or tool ids are treated as air. I discovered this while remaking my modpack, a mod was not installed, so the `simplytea:tea_trunk` was treated as air. This meant that whenever I tried to chop down an oak tree, it would give me the error of too many blocks to cut down. The limit is currently at 2000 blocks, with `mixed_logs` set to true.
For tools, I had Gobb

[2021-09-29 16:25] Rakambda commented on #221
As this can be prevented by having a valid config and so isn't blocking, I'll push the fix only in the latest version.

[2021-09-29 17:59] #221 closed, assigned to Rakambda

[2021-10-24 09:08] Lobituki opened #228 "Ability to config limit"
### Describe the feature

Could you add the ability to configurate the limit of blocks able to be broken to all hells
please
this modpack has forests that have connecting trees and because of either my STUPID self or the inability to config the limit I CANNOT INSTACUT TREES. 😔

[2021-10-24 09:23] Rakambda commented on #228
What do you mean?

And the limits can already be configured. See [the wiki](https://github.com/RakSrinaNa/FallingTree/wiki/Settings) (trees > Max scan size & trees > Max (break) size).

[2021-10-24 09:48] Lobituki commented on #228
oh lmao ok ty
i mean i couldn't click on the config, it was all greyed out
ohhhh ok nvm ty

[2021-10-24 11:44] #228 closed, assigned to Rakambda

[2021-10-25 20:04] unidentifiablesolder23 opened #230 "'Do not damage tools' option missing"
### Describe the bug

The 'Do not damage tools' option is missing from the config menu (using ModMenu found on the wiki).

### Minecraft version

1.17.1

### Fabric API version

0.41.0

### Mod version

2.14.2

### Relevant log output

_No response_

[2021-10-25 20:25] Rakambda opened #231 "Unable to destroy a tree with hand"
### Describe the bug

From #230

When trying to break a log from a tree with the hand, it says 'Your tool is about to break, go repair it or get a new one', ignoring the fact that I have 'Ignore tool' enabled.
the only way for me to break a tree is to break a log with a tool that has durability (sword, axe, shovel...etc. even a **CHESTPLATE**!).

### Minecraft version

1.17.1

### Fabric API versi

[2021-10-25 20:27] Rakambda commented on #230
There was two issues in one there, Split it up and opened #231 .

As for this issue, I think this has been removed long ago and never actually worked. But I can see to try to reimplement it.

[2021-10-25 20:31] Rakambda commented on #231
Indeed all the items with no durability doesn't work. (the hand is counted as `air` item and has no durability)

[2021-10-26 16:08] #231 closed, assigned to Rakambda

[2021-10-26 16:17] Rakambda commented on #230
I'm not really sure if I want to implement this actually.

This will cause quite some issues as the event that a block has been broken will have to be cancelled (a case of this is #11).
Plus this feels quite cheaty to me (even if it's your own decision in the end).

The best option there is probably to set your damage multiplicand to 0 so that each tree consumes 1 of durability which shouldn't be

[2021-11-19 11:31] daeeros opened #239 "Long tree breaking animation not working"
### Describe the bug

When I break a tree on the server, the block that I hammer breaks every time as usual and appears occupied, and so on until I cut down the whole tree, although the players on the other hand show a long animation of breaking without disappearing, how can I also do what I would have long animation of breaking and not breaking every second? I tried to install the mod both on the

[2021-11-19 11:39] Rakambda commented on #239
I'm not sure to understand the whole thing.

Seems like you use the SHIFT_DOWN breaking mode ?

[2021-11-19 12:00] daeeros commented on #239
No, it is off, the felling of the tree is carried out for a long time and completely and not one block at a time, I will try to record a GIF and attach it here

[2021-11-19 12:14] daeeros commented on #239
As we can see one block breaks a bunch of times, I just would like the block that I cut to break in time as much as it takes to cut a tree. It happens for other players from the outside, but for me it breaks down and appears again.

[https://www.youtube.com/watch?v=vkJdxtTqms8](url)

[2021-11-19 12:44] Rakambda commented on #239
The value of "Settings > Tools > Speed multiplicand" is probably different on the client and on the server. If they are not the same you'll see the desynchronization you have.

[2021-11-20 22:06] #239 closed, assigned to Rakambda

[2021-11-23 09:20] Rakambda opened #240 "1.18 version"
### Describe the feature

^

[2021-11-23 09:23] Rakambda opened #242 "1.18 version"
### Describe the feature

^

[2021-11-27 19:15] linqihao2333 opened #244 "It crashes when I use put it in server mods folder"
### Describe the bug

It crashes when I use put it in the server mods folder...

System: Ubuntu 20.04
Java version: openjdk 17 2021-09-14
OpenJDK Runtime Environment (build 17+35-Ubuntu-120.04)
OpenJDK 64-Bit Server VM (build 17+35-Ubuntu-120.04, mixed mode, sharing)

### Minecraft version

1.18-rc3

### Fabric API version

0.43.1

### Mod version

2.14.3

### Relevant log output

[code]

[2021-11-27 19:21] Rakambda commented on #244
Maybe fabric hasn't fully transitioned to Java 17 for the mixins.

What if you try with this version?
 https://www.dropbox.com/t/DdjHwwz3i3mv8T3W

[2021-11-27 19:24] linqihao2333 commented on #244
ohh! It works!

[2021-11-27 19:25] #244 closed, assigned to Rakambda

[2021-11-30 12:41] Rakambda opened #245 "Mixin target JAVA_17"
### Describe the bug

Fabric Installer 0.10.0 and Loader 0.12.6 came out as betas and fixed #244 properly.
Will revert the change when it is out as stable.

### Minecraft version

1.18

### Fabric API version

0.43.1

### Mod version

2.14.4

### Relevant log output

_No response_

[2021-11-30 17:39] #240 closed, assigned to Rakambda

[2021-11-30 23:19] I3estOFF opened #246 "Config for turning off chat informations about cutting tree"
### Describe the feature

![image](https://user-images.githubusercontent.com/63112899/144143643-bb04af1f-3647-43f9-85ff-724803c4d466.png)

[2021-12-01 07:29] Rakambda commented on #246
Why not, I can set it as a new notification mode. The issue with doing that is that people may not understand why a tree isn't cut sometimes. At least like this it indicates you to shift/unshift to disable the mod on breaking. But well, it wouldn't be set as default so people should be aware of the consequences.
I'll try to release it by the end of the week.

In the meantime you can probably set t

[2021-12-01 07:31] #230 closed, assigned to Rakambda

[2021-12-01 10:03] I3estOFF commented on #246
I understand that some people won't know why tree isn't cut, but this option should be in config for others ;D because if tree is too big to cut, you have to cut it by yourself with axe, but when you do that, every time you break the log you have this information. So when tree is to big you have three options: leave it alone and find another tree, cut it with hand or cut it with axe with spam on c

[2021-12-01 10:13] Rakambda commented on #246
You have a 4th option: sneak or unseak deping on the "[reserve sneaking](https://github.com/RakSrinaNa/FallingTree/wiki/Settings---General)" value. But yeah, won't hurt to have it as an option.

Out of curiosity, what MC version are you using? I still don't know if I add this only to 1.18 or also backport it to 1.17.

The "issue" it'll bring and that people have to be aware is that **every** "noti

[2021-12-01 10:19] I3estOFF commented on #246
I mostly use it on 1.16.5 and 1.17
Btw i love your mod! The best of all about cutting tree, other haven't that much configs, it is very helpful in making modpacks!

[2021-12-01 15:27] Rakambda commented on #242
Forge 1.18 have been released

[2021-12-01 17:17] Rakambda commented on #246
You can try that version to see if it matches your needs. I didn't test it myself 😆
You should have a new option "NONE" in the notification mode.

https://www.dropbox.com/t/s0TEZ1zy5XpYy0CD

[2021-12-01 18:05] #242 closed, assigned to Rakambda

[2021-12-01 21:03] I3estOFF commented on #246
can u make it for 1.16.5 also? Now i'm making modpack on this version

[2021-12-01 21:09] Rakambda commented on #246
1.16.5 hasn't been updated for nearly half a year and is missing all the changes since then, so I won't be making a new version of it.
I usually maintain only the current version, and the previous one for a bit after a change (like now I'll do 1.17 & 1.18).

[2021-12-01 21:38] I3estOFF commented on #246
Oh okay.. Can you tell me how to make it or i need to search for other mod like this? :/

[2021-12-01 22:05] Rakambda commented on #246
I could do a version and post it here where there's no messages (hard-coded, won't be an option), but wo t release it and will have less features than the 1.17 version

Another thing but i don't know if it's possible: the mod uses language files, so it may be possible to override them with a resource pack? And set it to a blank value so "blank" is spammed instead.
Not perfect but can be an externa

[2021-12-01 22:12] I3estOFF commented on #246
Alright, if you can send it to me i'll be happy :) I want to use it just for my modpack

[2021-12-02 17:03] Rakambda commented on #246
[FallingTree-1.16.5-2.11.5.zip](https://github.com/RakSrinaNa/FallingTree/files/7643791/FallingTree-1.16.5-2.11.5.zip)

[2021-12-02 20:41] ghost opened #252 "Config option to disable server console spam"
### Describe the bug

![image](https://user-images.githubusercontent.com/82549089/144499503-da136371-0333-44a4-a15e-3385f4c0a0aa.png)

### Minecraft version

1.18

### Fabric API version

0.43.1

### Mod version

2.15.0

### Relevant log output

_No response_

[2021-12-03 17:31] #252 closed, assigned to Rakambda

[2021-12-03 17:32] #245 closed, assigned to Rakambda

[2021-12-03 17:48] Rakambda opened #254 "Max Size isn't respected"
### Describe the bug

More logs can be broken than what is defined in max size.

### Minecraft version

1.18

### Fabric API version

-

### Mod version

2.15.0

### Relevant log output

_No response_

[2021-12-03 17:51] #246 closed, assigned to Rakambda

[2021-12-03 18:00] #254 closed, assigned to Rakambda

[2021-12-03 18:02] Rakambda opened #256 "MaxSizeAction isn't used"
### Describe the bug

Value of MaxSizeAction is never used and always act as CUT

### Minecraft version

1.18

### Fabric API version

-

### Mod version

2.15.0

### Relevant log output

_No response_

[2021-12-03 18:48] #256 closed, assigned to Rakambda

[2021-12-03 22:07] I3estOFF commented on #246
I'm looking for Notification mode in config, but can't find it.
Where i should write it?

[2021-12-03 22:09] Rakambda commented on #246
For 1.16 it's forced, nothing to change.
For the released 1.17 it's in "general > notification mode".

https://github.com/RakSrinaNa/FallingTree/wiki/Settings---General I have to edit the wiki with the new "NONE" value.

[2021-12-03 22:22] I3estOFF commented on #246
Oh alright! thanks :)

[2021-12-04 02:51] ghost opened #258 "2.15.1 fabric shift_down doesn't work"
### Describe the bug

Instantaneous still works but shift_down seems broken in the latest version, chopping just removes the block as in vanilla - higher blocks do not move down. Reverting to 2.15.0 fixes this, nothing in logs.

### Minecraft version

1.18

### Fabric API version

0.44.0

### Mod version

2.15.1

### Relevant log output

_No response_

[2021-12-04 08:50] Rakambda commented on #258
That's weird, I didn't change anything on that 😕 What seems to happen is that it breaks the furthest log like it should AND the block you hit.

Does it seem better with this version? https://www.dropbox.com/t/5eOG5DHgAIjnHWyR

[2021-12-04 09:24] ghost commented on #258
Yeah, back to the normal shift_down behaviour with that version.

[2021-12-04 09:32] #258 closed, assigned to Rakambda

[2021-12-07 22:55] KlutzyBubbles opened #260 "Notifications dont have any text"
### Describe the bug

For example 'chat.fallingtree.tree_too_big'. when i chop down a tree that is too big, the message just contains 'chat.fallingtree.tree_too_big' instead of an actual message. I dont know if this means the client side mod is required but i wasnt able to find any config to change that message either.

I am using this mod as a server sided mod for vanilla clients, so installing i

[2021-12-08 06:48] Rakambda commented on #260
How minecraft works is that it sends this value to the client, and then they display the correct value based on the language used.

I think you only need to provide these values to the client, the full mod isn't needed.

I haven't tested it, but I guess you can package them inside a standard resource pack and deliver it to your clients as the server resource pack and make it mandatory.
I'm not rea

[2021-12-13 00:21] bneils opened #263 "Griefing caused by lack of distinction between player-placed leaves and naturally-generated ones."
### Describe the feature

Currently, when players break logs that are apart of builds that ALSO have leaves, e.g. a grandfather tree, the entire thing gets destroyed. You can probably see how this is problematic. Regardless of the shift setting to trigger it, players will eventually cause irreparable harm to their builds, so I propose a solution.

Have the tree chopper only trigger when it detects

[2021-12-13 06:15] Rakambda commented on #263
Fallingtree doesn't removes leaves by itself. It just forces a random tick on the leaves.
What happens after is the leaf itself that decides it.
In the case of Mojang it indeed checks the persistent flag. For the mod you mentioned i don't know what is performed.

[2021-12-13 22:31] bneils commented on #263
I think you misunderstood. The decay is fine, it's just that certain player-placed logs are being destroyed by axes (in one fell swoop), which means any build  that makes use of player-placed leaves and player-placed logs will get destroyed by accident. I noticed that the logs are only instant mined when they're connected to leaves, so I suggested that they have to be connected to leaves that have

[2021-12-13 22:52] Rakambda commented on #263
Indeed I didn't understood correctly.

I get your point and is valid. However, I'll have to think about that change. To me it sounds like the persistent flag is at the discretion of the block itself and could behave differently if it's a leaf comming from a mod (some doesn't even have that flag).

The adjacent blocks feature was made for that use case, distinguishing build from trees (#54).
I gues

[2021-12-17 11:32] gyular opened #264 "supoort korean translation"
### Describe the feature

if you fine, can you add korean translation?

this is that i translated file.
https://gist.github.com/gyular/60ef0dd118cd09e1a12175e0b4a6ead2

[2021-12-17 11:35] Rakambda commented on #264
Sure, open a pull request adding the file

[2021-12-17 12:38] #264 closed, assigned to Rakambda

[2021-12-18 11:02] MMRT1387 opened #266 "Replanting Feature"
### Describe the feature

add replanting ... when we chop down a tree the saplings will replant

[2021-12-18 11:10] Rakambda commented on #266
I'll keep it open as a reference but not sure this will be implemented.

To me you already get enough advantages by having it all chopped down so you can still make some effort to replant it back. It can be argued that it can be toggled in the settings and yeah for sure it can.

However there are technical difficulties :

- How do we identify what sapling correspond to the tree ? Has to take into

[2021-12-24 04:54] chrisgates301 opened #267 "Speed Multiplicand feature bug"
### Describe the bug

When i first installed the mod it worked correctly, i set it to 1 so it would take the time of chopping every log, but after a restart it stoped working, i havent added any other mod than the ones i already use.

### Minecraft version

1.16.5

### Forge version

Latest

### Mod version

Latest

### Relevant log output

_No response_

[2021-12-24 12:56] Rakambda commented on #267
I cannot reproduce it.
Also please fill up the values properly, `latest` isn't really the latest as it is only available for 1.18+.

Is it single player or multiplayer?

Does this also happen if you have **only** FallingTree?

If yes can you provide steps to reproduce? "restart" for example is a bit vague to me. Do you restart the world, the game, ... ?
Like:

* Set speed multiplicand to 1
* Chop

[2021-12-26 23:52] CahleRichardson opened #268 "Whitelist not working for paxels"
### Describe the bug

I whitelisted all the paxels from the Easy Paxel mod,and it seemed there were no issues,but it refuses to work in game,it only cuts 1 log at a time

### Minecraft version

1.16.5

### Forge version

36.2.8

### Mod version

2.11.5

### Relevant log output

_No response_

[2021-12-27 10:10] Rakambda commented on #268
Tried with [FallingTree 2.11.5](https://www.curseforge.com/minecraft/mc-mods/falling-tree/files/3349236) and [Easy Paxel 1.0.10](https://www.curseforge.com/minecraft/mc-mods/easy-paxel/files/3195424) and whitelist works. I don't know what you did as you didn't share the config but that one works (for the 10k paxel):

[code]

[2021-12-28 17:18] ZEkA10000 opened #269 "Blacklist isn't work with Dynamic trees"
### Describe the bug

I set Dynamic trees into black list of mod because Falling Tree destroys tree without loot
Dynamic trees falls fine if Reverse Shift is OFF (There you can't instantly break vanilla trees)

![javaw_7EhTpXh4dK](https://user-images.githubusercontent.com/25690631/147590793-e1e86bbe-c1c8-4271-acb9-ab1706c3e727.png)

https://user-images.githubusercontent.com/25690631/147590780-febd

[2021-12-28 17:46] Rakambda commented on #269
The blacklist doesn't work because the IDs are incorrect (see red arrow in screenshot).

![image](https://user-images.githubusercontent.com/1688389/147592795-65a91b27-83aa-461d-a7fa-ad49ba6ba754.png)

If you want to have a cleaner config, you can directly blacklist the branches tag (blue arrow and second screenshot). That way all of them will be blacklisted and potential future trees will be handl

[2021-12-29 16:21] WachumaFox opened #270 "Origins/Apoli power support"
### Describe the feature

I think it would be very cool to make it so only those with a power from origins/apoli could fell trees?  And anyone who is lacking the power cant do it

Something like
fallingtree:treefeller

[2021-12-29 16:38] Rakambda commented on #270
I guess what could be done, to provide an enchantment like suggested in #99.

This way you/FallingTree could write a power based [on the enchant](https://origins.readthedocs.io/en/latest/types/item_condition_types/enchantment/) being present or not (something like [no_shield](https://github.com/apace100/origins-fabric/blob/1.18/src/main/resources/data/origins/powers/no_shield.json) power).

Though

[2021-12-29 16:43] Rakambda commented on #99
As an update, I think I'll go on and implement it, but not as a variant. It'll simply be part of the mod itself.

What I think :

- Have an option to require the enchant or not :
  - If yes (default) then you'd need to have the enchant for the chopping to be applied
  - If no then it stays the same as now
- The whitelist/blacklist of tools still is present but now becomes a more generic info :
  -

[2021-12-29 21:03] #99 closed, assigned to Rakambda

[2021-12-29 21:03] #201 closed, assigned to Rakambda

[2021-12-29 21:06] Rakambda commented on #260
Version 3.0.0 will also be required on clients, so this is getting irrelevant. If staying on previous versions I guess this resource pack is the way to go.

[2021-12-29 21:06] #260 closed, assigned to Rakambda

[2021-12-29 21:35] Rakambda commented on #270
You should be able to define this power to deny the use of enchanted tools. (untested)

[code]

I don't really know how that mod works, but I assume that you have to use that power in the "origins" as well. So I'm not too sure if this makes sense to include the power directly in FallingTree (as you'd need to edit/make origins elsewhere).
However if the power above makes sense and is usable elsewhe

[2021-12-29 21:36] Hellzbellz123 commented on #266
I dont remember what mod does did it this way, but use whatever sapling drops from the tree leaves? as for the where to plant thing, you could follow along the the log down to the base in code by checking if log@z -1 is not log and plant there, that would also be stupid enough to work with any type of tree, not counting mushroom trees maybe?

[2021-12-30 08:42] Rakambda commented on #137
Not sure if this is still relevant. If needed open a new issue.

[2021-12-30 08:42] #137 closed, assigned to Rakambda

[2021-12-30 09:20] Rakambda commented on #263
I added this as an option. By default leaves with the `persistent` flag will count towards the "minimum around required" counter.
I may change the default as it indeed makes sense to not count them.

If a leaf doesn't have that property (modded leaf for example), it'll will be considered as `persistent=false`.

If wanna give it a shot you can try [that version](https://www.dropbox.com/t/f0M4I8OQYI

[2021-12-31 08:46] #263 closed, assigned to Rakambda

[2021-12-31 20:11] gazpachoking opened #281 "Mark as client required on modrinth"
### Describe the feature

I struggled figuring out why this wasn't working for a bit before I realized the latest version requires this mod on the client as well as the server. It would be helpful to update the metadata on modrinth to reflect this, as it still shows up when doing a search for server side only mods.

[2021-12-31 20:41] Rakambda commented on #281
I forgot Modrinth displays that info, I changed it 👌

[2021-12-31 20:41] #281 closed, assigned to Rakambda

[2022-01-01 22:39] itsdinkd opened #282 "Crash on start up [1.18.1]"
### Describe the bug

Prevents game launching
![image](https://user-images.githubusercontent.com/35115304/147861632-0a506d5e-4e75-47d6-a70d-11c1d711f01f.png)

[code]

### Minecraft version

1.18.1

### Forge version

39.0.9

### Mod version

3.1.0b1

### Relevant log output

From crash report

[code]

[2022-01-02 10:08] #282 closed, assigned to Rakambda

[2022-01-03 10:36] Rakambda opened #284 "Provide a server side only version"
### Describe the feature

Title. What this boils down to is to have a version without the enchant :

- Produce another JAR that doesn't contain it ?
- Have a config option that doesn't register the enchant and allows server side only ?

The second option would be the best IMO but will need to be clear about it in the doc that to have a server-side only it needs to be changed.

[2022-01-05 21:29] #268 closed, assigned to Rakambda

[2022-01-07 23:51] Dynis91 opened #285 "Cant get the mod to work on server"
### Describe the bug

Hi, Have tried both 1.18.1-3.1.0b2 and 1.18.1-3.0.1 for forge but cant get it to work, leaves fall instantly but the tree wont go down :/

### Minecraft version

1.8.1

### Forge version

39,0,9

### Mod version

both 1.18.1-3.1.0b2 and 1.18.1-3.0.1

### Relevant log output

_No response_

[2022-01-08 01:14] R3tr0PAG commented on #285
I'm having the same issue but with Fabric.

[2022-01-08 01:42] R3tr0PAG commented on #285
Ok so i had to double/tripple check but i having the same problem on my server. Only that i'm on fabric

First i thought it just was a bug then i noticed that in version 3.0.0 added an enchantmend "Chopper", i turned that option to false in server config but still it would only break the leaves.

Minecraft V: 1.18.1
Fabric V: 0.12.12
Mod Version: 3.0.1

[2022-01-08 06:55] Rakambda commented on #285
Can you share your config file?

[2022-01-08 17:52] Dynis91 commented on #285
[code]

[2022-01-08 17:54] Dynis91 commented on #285
theres mine on the forge server :)

[2022-01-08 17:55] Rakambda commented on #285
In your case the enchant is activated, we're ok on the fact that it doesn't break the tree with an enchanted axe ?

[2022-01-08 18:05] Dynis91 commented on #285
aah okey ^^ nah i want it to break with enchants so will fix it :D thanks <3

[2022-01-08 19:00] Rakambda commented on #285
I tried with version `1.18.1-3.1.0b2` on both fabric & forge and works for me.
So my guess is that the enchant wasn't applied.

For @R3tr0PAG I tried it with the same config and just changed `requireEnchant` to `false`. It does chop trees with/without the enchant. There must be some other condition that isn't met. Leaves at the top missing or something like that ?

[2022-01-10 02:00] Ramon247 opened #286 "Mod not working for me"
### Describe the bug

I am new into getting mods. I have the mod in the mod folder but when I go into the world I use a wooden axe and it says "first position set to(xx,xx,xx)" and it doesn't even break the wood. If I use a stone then it breaks just the one it doesn't do what the mod is supposed to do. Help!  Tried both 1.18.1-3.0.1 and 1.18.1-3.1.0b2

### Minecraft version

1.18.1

### Forge vers

[2022-01-10 05:31] Rakambda commented on #286
The wooden axe is probably used for worldedit.
For the stone one, starting version 3 of Fallingtree you need to put the Chopper enchantment on it. If you want to not use the enchant you can change this behavior in the config.

[2022-01-12 07:37] #269 closed, assigned to Rakambda

[2022-01-12 19:39] WachumaFox commented on #270
Oh no, I am _so so so_ sorry, I  had a whole response typed out and I totally forgot to hit comment!
While the workaround for that power deny_chopper is kind of the _opposite_ of what im working to achieve, i actually think I could make that work by giving every origin deny_chopper except for the one I would like to have keep the power to do it!

Alternatively, now that I think of it, I wonder if

[2022-01-12 20:07] Rakambda commented on #270
Yeah it indeed is the opposite, but I'm not sure it is doable the other way around. From what I understood in Origins wiki is that the normal behavior is the default (so chopping is default) and then the powers modify that default (in that case block the enchanted item).

Honestly I don't know at all how that whole Origins thing works 😆 If you have something working, it can be included, but as I d

[2022-01-12 20:19] WachumaFox commented on #270
Hmmm,  kind of what I'm going for- but I am pretty sure I could make what I'm needing with either a deny_chopper power or a tag that denies the chopper, if at all possible and not too big of an issue to add in?

(by tag, I mean[ this](https://minecraft.fandom.com/wiki/Commands/tag) , so i don't think your example would work necessarily, I do know of ways to make what I'm needing work if you were a

[2022-01-12 20:23] Rakambda commented on #270
Oh ok for the tag, I indeed misunderstood. And yeah in that case it'd totally not be linked at all to Origins. That indeed sounds interesting and could be used for everyone to limit the mod effect per player if they desire.

I'll look into it to see how it's done but I think it's doable.

[2022-01-12 21:11] Rakambda commented on #270
I didn't try it but had a shot at it. You can try a dev version from [the build](https://github.com/RakSrinaNa/FallingTree/actions/runs/1689712905) (you'll see an artifact mod-file at the bottom, the jar file is inside it).

[2022-01-12 21:32] WachumaFox commented on #270
This is **PERFECT**
This is exactly what I needed!! This allow tag is absolutely wonderful and I thank you so so much for adding it to your mod!!

[2022-01-12 22:01] #270 closed, assigned to Rakambda

[2022-01-12 22:03] Rakambda opened #288 "Configuration to only get Chopper enchant on books"
### Describe the feature

Title

[2022-01-13 17:39] #284 closed, assigned to Rakambda

[2022-01-14 09:56] Syhlo opened #292 "Honor enchantments for leaves"
### Describe the feature

I've been using a datapack on my server for a while now called Timber. I'm looking to switch to this mod soon since I want to gate the ability to insta-mine trees behind an enchant and this fits that perfectly.

But one of the things I really like about Timber is that it takes into consideration the enchantments on the axe while breaking the leaves. For example, if your a

[2022-01-14 10:05] Rakambda commented on #292
As it is right now leaves are not broken by the player, simply they decay faster.

However it should be doale to add an option that breaks the leaves. That means that enchants are applied, but the counter part is that your tool looses more durability (as you don't just cut the log).

The question is more "how" ? Like adding a global config can be a bit... annoying to change (and on a server, you d

[2022-01-15 20:48] jonas-w opened #293 "Mod fallingtree provides a broken implementation of ModMenuApi"
### Describe the bug

When starting minecraft with the mod loaded this error pops up and the mod doesn't work!

### Minecraft version

1.18.1

### Fabric API version

0.46.0

### Mod version

3.1.0

### Relevant log output

[code]

[2022-01-15 20:50] Rakambda commented on #293
Do you have ClothConfig mod ? If yes what version ?

[2022-01-15 20:58] Rakambda commented on #293
Does [this build](https://github.com/RakSrinaNa/FallingTree/actions/runs/1702534400) (artifact section at the bottom, you can download a zip containing the mod file) fixes the issue ?

[2022-01-15 21:04] jonas-w commented on #293
With this build it won't show that error but it's still not working.

Do i need to change something in the config before using it?

[2022-01-15 21:13] Rakambda commented on #293
"not working", will have to explain it further.

Did you enchant your axe?

[2022-01-15 21:23] jonas-w commented on #293
Okay sorry that "not working" part was my issue.
It also works with the normal version after enchanting my axe.
But after receiving that error i thought it wouldn't work because of that error.

Is this somewhere written that it needs to be enchanted?

[2022-01-15 21:24] Rakambda commented on #293
https://github.com/RakSrinaNa/FallingTree/releases/tag/3.0.0

3.2.0 will disable the enchant by default for new comers. But for now it is activated by default.

[2022-01-15 21:26] jonas-w commented on #293
Okay thank you.

[2022-01-15 21:26] #293 closed, assigned to Rakambda

[2022-01-17 00:16] frenchiveruti commented on #288
Please!

[2022-01-17 00:16] frenchiveruti commented on #288
Also, this:
![imagen](https://user-images.githubusercontent.com/1095997/149683940-b6b813a7-e4ed-49fc-866e-a4bd0b881705.png)

[2022-01-17 00:36] frenchiveruti opened #295 "Configuration to disable enchantment completely"
### Describe the feature

Title.

I find myself using the mod just to not be climbing to trees and getting logs inside branches.

I don't use the instant chopping.

Therefore, I'd like to **disable the enchantment** completely, as I found out that it can enchant **shovels** for some reason.
![imagen](https://user-images.githubusercontent.com/1095997/149684634-5ab7216c-f228-402a-a26a-e5ddbbb007b4.p

[2022-01-17 04:23] Rakambda commented on #295
Duplicate of #284

[2022-01-17 04:24] #295 closed, assigned to Rakambda

[2022-01-17 14:02] frenchiveruti commented on #292
I want to say, please leave the mod as is, it's simple, it works, and already allows customization.
If you start extending you ruin the simplicity that already makes it great.

Thanks,

[2022-01-17 14:06] frenchiveruti commented on #285
I assume it would be wise to set the enchantment to false by default, and also make it big bold red letters that there's an **enchantment** in the mod, on the curseforge page where people usually download the mod.
Suggestion:
![imagen](https://user-images.githubusercontent.com/1095997/149783138-a2e96788-d9ff-4e6f-9b71-dfce4139b6cd.png)

I also thought it didn't work (of course I added 2+2 and the

[2022-01-17 14:10] frenchiveruti commented on #155
As I stated on another issue, I think it's an over extension of an already simple and useful mod.

[2022-01-17 14:39] Rakambda commented on #285
#291, already released as beta. Doesn't make much sense to make it bold red anymore as it'll become the default now. If enchant is activated then users would have activated it and therefore would be aware of it.

Indeed, assuming that users read the changelog wasn't the wisest idea and lead to confusions.

[2022-01-17 14:43] frenchiveruti commented on #285
Haha true.

[2022-01-17 14:48] Rakambda commented on #292
I get your point of view. However this still can be considered.
FallingTree is far from being simple, there's a lot of configurations that makes it quite complex.

Though keeping it as a "simple mod that just works" by default is something I keep in mind. If you don't put your head in the config you'll just have it the simplest way. However if you're a bit more into customization then options are

[2022-01-17 15:46] Syhlo commented on #292
I went ahead and tested it just now -- seems to be working. Thanks! :)

[2022-01-17 15:46] #292 closed, assigned to Rakambda

[2022-01-17 20:10] Rakambda opened #297 "Enchant can be applied on non whitelisted tools"
### Describe the feature

From #288

[2022-01-18 02:00] Toilet-Lord opened #298 "Mod installed but not working (no shift down/instantaneous chop)"
### Describe the bug

The trees react like normal Minecraft, no error in log no nothing. What could cause this?

### Minecraft version

1.18.1

### Fabric API version

fabric-api-0.46.0+1.18

### Mod version

FallingTree-1.18.1-3.2.0b1

### Relevant log output

[code]

[2022-01-18 07:18] Rakambda commented on #298
Line 345 is fine. As you use the beta version there's a `b` in the version name so it complains that it doesn't like it that much. But it still is loaded fine.

If you played on versions 3.x.x before that beta you have a conf file with the enchant set as activated. Did you put the enchant on your tool / disabled the enchant in the config ?

If it's your first time (or you moved from 2.x.x) can you

[2022-01-19 05:30] Seva41 commented on #285
Hi, i second @R3tr0PAG. I'm on Fabric 0.12.12, FallingTree 3.2.0b1 and MC 1.18.1.
The mod works fine on singleplayer worlds but i can't get it to work on my server. I copied already the json config file to the server from the client. Also tried adding manually some axes to the allowed list but doesn't help.

[code]

[2022-01-19 20:00] Rakambda commented on #285
Hmm, tried with your provided config and it does work on a forge server with a client with/without the mod 🤔

Maybe I have some changes that I didn't publish in the b1? What if you try with the dev version I used?
[FallingTree-1.18.1-0.0.1-dev.zip](https://github.com/RakSrinaNa/FallingTree/files/7900216/FallingTree-1.18.1-0.0.1-dev.zip)

[2022-01-20 00:40] Seva41 commented on #285
Just tried, doesn't work. At this point i'm not sure if i'm doing things right. I copied the .jar in the mods folder for both my client and the server, copied the new config file to the configs folder on the server and restarted both client and server.

[2022-01-20 18:36] Rakambda commented on #285
At the start of the server you should see `[20:59:53] [main/INFO]: Found mod file FallingTree-1.18.1-0.0.1-dev.jar of type MOD with locator {mods folder locator at E:\Minecraft\test-forge\mods}` indicating the mod has been found.
If that is the case then the loaded config is probably not the one mentioned above.

[2022-01-20 18:44] Rakambda commented on #285
https://youtu.be/HtT0InTpdvs

[2022-01-20 21:47] Seva41 commented on #285
I'm using Fabric tho, and doesn't look like that. However, the mod appears in the list of loaded mods at the start of my server, so i guess it's loaded correctly. Maybe some compatibility issue?

I have Appleskin, Cloth Api, Cloth Config, Dynview, Fabric Api, Fallingtree, Lithium, Phosphor and Sodium.

[2022-01-21 21:18] Rakambda commented on #285
You can try with that version, logs should tell in a bit more details what's happening.
[FallingTree-1.18.1-0.0.1-dev.zip](https://github.com/RakSrinaNa/FallingTree/files/7916619/FallingTree-1.18.1-0.0.1-dev.zip)

[2022-01-22 07:32] szunakabeats commented on #298
mod does not work. make a new fabric 1.18.1 profile and install fallingtree.

[2022-01-22 07:34] Rakambda commented on #298
Did you read the answer above?
**Did you put the enchant on your tool?**

[2022-01-24 14:08] scarf005 opened #299 "preserve tools not working when "damageMultiplicand" > 1.0"
### Describe the bug

[code]
however tools with durability 1 would
- not break any blocks
- refuse to get broken
- with message from `"chat.fallingtree.prevented_break_tool"`.

regardless of how the configuration above is set.

### Minecraft version

1.18.1

### Fabric API version

0.46.1

### Mod version

3.2.0b1

### Relevant log output

[code]

[2022-01-24 14:14] Rakambda commented on #299
I'm not really getting what's the issue here.

When you have 1 of durability the tool breaks and you expect it not to break?

[2022-01-24 14:15] #267 closed, assigned to Rakambda

[2022-01-24 16:18] scarf005 commented on #299
the exact opposite. i was expecting the tool to break when its durability is 1, but it doesn't. i cannot destroy my tool, the mod would just send `"chat.fallingtree.prevented_break_tool"` and refuse to break the tool. despite `preserve tool` config set to `no`.

[2022-01-24 18:17] Rakambda commented on #299
I cannot reproduce.

https://user-images.githubusercontent.com/1688389/150840773-883e5f49-d70a-4b63-a100-3de68b9af624.mp4

* If you play with other mods, can you reproduce the behavior with FallingTree alone?
* Do you plan on server ? If so this is the server config that is taken into account.
* Can you share your `fallingtree.json` content?

[2022-01-25 06:05] scarf005 commented on #299
to reproduce the issue, change `"damageMultiplicand"` to any value bigger than `1.0`. for example
- issue happens on: `1.2`, `1.5`, `2.0`.
- issue does not happen on `1.0`, `0.7`, `0.5`

here's the configuration: [fallingtree.json.txt](https://github.com/RakSrinaNa/FallingTree/files/7930958/fallingtree.json.txt)

[2022-01-25 07:27] Rakambda commented on #299
I don't have the time to test it right now, but I made changes where I think the issue is. If you wanna test it before you can grab the modified version [here ](https://github.com/RakSrinaNa/FallingTree/actions/runs/1744132709) (artifacts at the bottom).

[2022-01-25 07:40] Rakambda commented on #299
[This one](https://github.com/RakSrinaNa/FallingTree/actions/runs/1744183068) should behave a bit better I think.
The one mentioned above was probably breaking several blocks even though only one should have been broken.

[2022-01-25 16:08] #299 closed, assigned to Rakambda

[2022-01-25 16:09] #288 closed, assigned to Rakambda

[2022-01-25 16:09] #297 closed, assigned to Rakambda

[2022-01-30 06:02] lulabyte opened #302 "How do I enable enchantment-only in the 3.2.0b2 version?"
### Describe the bug

I remember in previous versions, there was a way to make it so only enchanted items could chop down the trees completely, but I don't see that same option in the newer 3.2.0b2 version. Am I just missing it?

Thanks for the awesome mod!

### Minecraft version

1.18.1

### Forge version

39.0.63

### Mod version

3.2.0b2

### Relevant log output

[code]

[2022-01-30 08:04] Rakambda commented on #302
Yeah, on server there's no GUI with the text description so I guess it's harder.

If you enable the enchant (register it) then it is required.
Was a bit weird in the end to be able to have the enchant registered but not required on tools.

[2022-02-03 16:42] #285 closed, assigned to Rakambda

[2022-02-03 16:42] #286 closed, assigned to Rakambda

[2022-02-03 16:42] #298 closed, assigned to Rakambda

[2022-02-03 17:43] ezrielSG opened #304 "Items stop allowing stacking after drop."
### Describe the bug

Some items when dropped now are unstackable in inventory. I couldn't find any log data on this, only that it seems to have also been a recurring issue with the "Timber" mod some months back.

https://www.minecraftforum.net/forums/mapping-and-modding-java-edition/minecraft-mods/mods-discussion/3062259-items-not-stacking

It seems that removing the mod from the mods folder and

[2022-02-03 18:42] Rakambda commented on #304
Honestly I don't really know what to say to this x)
The NBT data is probably different and so they don't stack. But I don't really manage the drops part myself. I just [ask Minecraft to do it](https://github.com/RakSrinaNa/FallingTree/blob/1.18.1/fabric/src/main/java/fr/raksrinana/fallingtree/fabric/common/wrapper/BlockStateWrapper.java#L55).
With all the testing I did I never encountered that iss

[2022-02-03 18:50] Rakambda commented on #304
If you can reproduce it "reliably" (like it happens every so often and no too rarely), is it with vanilla logs + vanilla axe or is there another mod involved?

[2022-02-06 07:54] WenXin20 opened #307 "Mixed Logs Config"
### Describe the bug

The mixed logs config option doesn't seem to work. It is set to true but doesn't cut the tree if there is a stripped log above it.

### Minecraft version

1.18.1

### Forge version

39.0.65

### Mod version

3.2.0

### Relevant log output

_No response_

[2022-02-06 08:13] Rakambda commented on #307
I'm not sure that stripped log is considered a log by default.

Il investigate a bit later when I have time bit that is probably the issue. Adding stripped logs as logs may solve the issue.

[2022-02-06 08:56] Rakambda commented on #307
Indeed stripped logs are not considered logs by default. You'll have to whitelist them to have them being handled by the mod.

Either you can list them one by one, like `minecraft;stripped_oak_log`, ...
Or you can add all logs with `#minecraft:logs`.

They are not whitelist by default as it's most likely that stripped appears in some building rather than in a tree.

[2022-02-06 15:42] WenXin20 commented on #307
Ah I hadn't thought of that since in 1.16 it had worked with stripped logs. Mainly since the Lord of the rings mod uses stripped logs in it's pine trees

[2022-02-06 20:02] Rakambda commented on #307
Yeah that was changed with #148 which is for newer versions.

If that is mainly for that mod, probably can check if the mod author tags his logs with his own tag. Like that could just whitelist that tag to make things easier.

[2022-02-06 21:36] WenXin20 commented on #307
Yep, I'll do that once the mod updates to 1.18. Thanks for the help. :)

[2022-02-06 21:36] #307 closed, assigned to Rakambda

[2022-02-06 22:05] WenXin20 commented on #307
I also just realized that the Terralith mod/datapack makes a lot of its trees out of stripped logs

[2022-02-06 22:42] Zhyn-exe opened #308 ""requireEnchant" missing from version 3.2.0"
### Describe the bug

3.2.0b2 and 3.2.0 are missing the require enchant option in the mod menu, resulting in not being able to enchant anything with Chopper (with a book and anvil, or an enchanting table).
I tried manually adding ""requireEnchant": true"" under the tools section but that didn't seem to work either.

3.2.0b1 seems to still have the option and works.

Edit*** registerEnchant was set

[2022-02-06 22:45] Rakambda commented on #308
This has moved to `enchant.registerEnchant`. I agree this is not that obvious and wiki doesn't give exact keys.

I'll try making it clearer in the changelog.

[2022-02-06 23:18] Zhyn-exe commented on #308
Sorry, I'm not following. Is "enchant.registerEnchant" something I need to add to the config?
All that's in the new config is:
  "enchantment": {
    "registerEnchant": true,
    "hideEnchant": false

Also maybe unrelated, the tooltip in modmenu for "registerEnchant" is broken.

[2022-02-07 07:21] Rakambda commented on #308
You're right my bad, I was replying from what I remembered. The JSON you put is what you can modify with 3.2.0. If you register the enchant then it'll be required on the tools.

I'll look why the modmenu doesn't display the tooltip properly. You can find it [here](https://github.com/RakSrinaNa/FallingTree/blob/1.18.1/common/src/main/resources/assets/fallingtree/lang/en_us.json#L202-L209) for now.

[2022-02-07 16:54] Zhyn-exe commented on #308
I think I see where the confusion is. ""registerEnchant": true" is not working like it used to. After testing standalone I realized it is working on the default enchanting table.

But you can no longer enchant Chopper to a book. You can still find the enchanted Chopper book with RoughlyEnoughItems, but it still wont let you combine it in an anvil with an axe.

Compatibility with Enchanting Infuser

[2022-02-07 17:21] Rakambda commented on #308
This isn't linked to the `registerEnchant`. I made changes to only enchant valid tools (#290). I didn't think of the book and will have to add it.

For Enchanting Infuser I'll have to look into it, seems weird it isn't showing the enchant for axes (the tools you try to enchant is maybe not recognized as an axe and not whitelisted?).

[2022-02-07 17:50] Rakambda commented on #308
Looked a bit into it and it seems weird. The book part is part of vanilla Minecraft. Every enchant is automatically applicable to a book. As for the tool, it'll end up in my part of the code deciding if the tool is an axe or not.

Will have to try a bit more with vanilla table but seems like it's possible.
![image](https://user-images.githubusercontent.com/1688389/152841770-1d8317f8-e777-45e1-a938

[2022-02-07 19:00] Zhyn-exe commented on #308
I tried 64 books in a vanilla enchanting table and it did not appear on a book, but yeah Enchanting Infuser lets you put it on a book.

In survival mode combining the axe with Chopper is crossed out on an anvil, but in creative mode it works.
I'm still unable to see Chopper for any axe in Enchanting Infuser, whether I'm in creative or survival.

I dunno why it's being so weird, I'm testing on a fr

[2022-02-07 20:00] Rakambda commented on #308
Weird, it works for me
![image](https://user-images.githubusercontent.com/1688389/152854710-d501bdf0-5d0f-47ef-9aaf-806927c83d3b.png)

Indeed the enchantment table is not really selecting enchants the way I thought it would, and using default Minecraft values seems to make the enchant super unlikely to appear.

I made a change and should make it it now appear for both books & tools more often (mos

[2022-02-14 07:10] #302 closed, assigned to Rakambda

[2022-02-28 17:25] #308 closed, assigned to Rakambda

[2022-03-01 19:25] BaccarWozat opened #315 "Filesize Issue"
### Describe the bug

The download for Falling Tree for 1.18.2 is only 261 bytes. That can't be right. And in any case it doesn't do anything. It just seems to consist of `manifest.mf`.

### Minecraft version

1.18.2

### Fabric API version

0.47.8

### Mod version

3.3..0

### Relevant log output

_No response_

[2022-03-01 19:27] Rakambda commented on #315
Indeed. Uploading it to curse first day of 1.18.2 when there was lots of server unavailability was maybe not the best idea 😆
It is fine on modrinth though. I'll reupload it on curse, thanks for the heads up.

[2022-03-01 19:27] #315 closed, assigned to Rakambda

[2022-03-02 05:42] irusV4 opened #316 "1.18.1 not working forge"
### Describe the bug

hello, I've downloaded this mod for 1.18.1 forge and the only options are 1.18.2 and I've downloaded that one to see if it'll work, and it doesn't even show up in my config menu, I've deleted and redownloaded it multiple times, why isn't it working if its 1.18 and why isn't there a 1.18 or 1.18.1 version.

### Minecraft version

1.18.1

### Forge version

30.1.2

### Mod vers

[2022-03-02 06:07] Rakambda commented on #316
1.18/1.18.1/1.18.2 are available on curseforge/modrinth. Go into the files tab and you'll see them (https://www.curseforge.com/minecraft/mc-mods/falling-tree/files).

1.18.2 had issues with its upload and I re-uploaded it (#315)

[2022-03-02 06:08] irusV4 commented on #316
Okay thank you very much

Sent from my iPhone

[2022-03-02 06:36] #316 closed, assigned to Rakambda

[2022-03-03 19:16] Dr-WeiAL opened #318 "Speed multiplicand doesn't work"
### Describe the bug

When I set this configuration item to 1.0 or 2.0, nothing happens, it is exactly the same as when it is 0.0

### Minecraft version

1.18.1

### Fabric API version

0.46.4

### Mod version

3.2.1

### Relevant log output

[latest.log](https://github.com/RakSrinaNa/FallingTree/files/8180488/latest.log)

[2022-03-03 19:19] Rakambda commented on #318
I see you have quite some mods loaded. Can you reproduce it with only FallingTree?

If you can't then it's probably an incompatibility with one of those mods and you'll have to fine tune it down to know which one.

[2022-03-07 12:43] Dr-WeiAL commented on #318
I found out what the problem is, using it with Origins causes this problem

[2022-03-07 13:06] Rakambda commented on #318
So both FallingTree and Origins modifies the breaking speed.

FallingTree: https://github.com/RakSrinaNa/FallingTree/blob/1.18.2/fabric/src/main/java/fr/raksrinana/fallingtree/fabric/mixin/AbstractBlockMixin.java#L20

Origins: https://github.com/apace100/apoli/blob/master/src/main/java/io/github/apace100/apoli/mixin/AbstractBlockMixin.java#L25

Now both of those methods takes the previously return

[2022-03-07 13:09] Dr-WeiAL commented on #318
I also don't understand very well, I didn't choose any race, this problem also occurs when using the default human

[2022-03-13 05:00] BingYanchi opened #319 "Version 1.18.2 does not work on Forge"
### Describe the bug

Version 1.18.2 does not work on Forge

### Minecraft version

1.18.2

### Forge version

40.0.12

### Mod version

3.3.0

### Relevant log output

_No response_

[2022-03-13 08:34] Rakambda commented on #319
Indeed, 1.18.2 is tagged with only Fabric as it only supports Fabric. At the time I made it Forge was not yet available for 1.18.2.

I'll add support for it.

[2022-03-13 08:34] #319 closed, assigned to Rakambda

[2022-03-13 19:36] Rakambda opened #322 "Add option to disable sneak actions"
### Describe the feature

Current sneak will either activate or disable the mod. This could be changed to also allow for the mod to be always active.

Setting can be changed to an enum with :

* SNEAK_DISABLE: When sneaking, mod is disabled
* SNEAK_ENABLE: When sneaking, mod is active
* IGNORE: Always enabled

[2022-03-13 20:13] #322 closed, assigned to Rakambda

[2022-03-15 16:00] Dr-WeiAL opened #324 "Speed multiplicand exception"
### Describe the bug

Speed multiplicand does not affect the roots of planted trees or naturally occurring trees, while the roots of manually placed trees are affected when you cut them.

### Minecraft version

1.18.1

### Forge version

39.1.2

### Mod version

3.2.1

### Relevant log output

_No response_

[2022-03-15 16:01] Rakambda commented on #324
What do you mean by "roots"?

[2022-03-15 16:04] Dr-WeiAL commented on #324
This is a machine translation, sorry
I was referring to the bottom piece of wood of the tree

[2022-03-15 16:15] Dr-WeiAL commented on #324
![1](https://user-images.githubusercontent.com/47446553/158422918-46f17dc0-ea2f-4ba5-b987-2172198fecaf.gif)
Here the Speed multiplicand is set to 2

[2022-03-15 16:45] Dr-WeiAL commented on #324
Well, I only installed FallingTree and there is no problem, and it is time to check which mod is incompatible with

[2022-03-15 17:02] Dr-WeiAL commented on #324
Oh I found it, sorry to bother you, it's Reap reason

[2022-03-15 17:02] #324 closed, assigned to Rakambda

[2022-03-20 15:37] PortableGames opened #325 "Stripped wood"
### Describe the bug

It doesn't work on trees that have a trunk from Stripped Wood

Used for example in the Terralith datapack

### Minecraft version

1.18.2

### Fabric API version

Latest

### Mod version

Latest

### Relevant log output

_No response_

[2022-03-20 17:43] Rakambda commented on #325
Stripped logs are intentionally not whitelisted by default as in vanilla it's more likely to the used in builds (#196).

If you want them counted as logs you'll have to add them manually in the config.

[2022-03-20 17:46] Rakambda commented on #325
You may be able to add the logs tag itself to your config to add them all at once (`#minecraft:logs` in the allowed logs).

[2022-04-02 07:44] #325 closed, assigned to Rakambda

[2022-04-02 07:48] Rakambda opened #329 "Enchant to force the breaking mode used"
### Describe the feature

For example, there could be 3 enchants :

* One chopping the tree with the default breaking mode (the current enchant we have)
* One forcing the tree to be broken using instantaneous
* One forcing the tree to be broken using shift down

To allow server owners to restrict what players can do, this option should be a toggle in the configuration :

* Register default enchant

[2022-04-06 03:20] Laifsyn opened #331 "Can't use Chopper book in anvil when in survival"
### Describe the bug

So even though I can see the enchant, I can't enchant it onto axes. I can enchant it to other books though. Is it by chance using a tag like c:tools/axes or something? idk what else to provide so to make it easier to fix

### Minecraft version

1.18.1

### Fabric API version

0.13.3

### Mod version

FallingTree-1.18.1-3.2.1

### Relevant log output

_No response_

[2022-04-06 05:00] Rakambda commented on #331
It should appear on tools that are considered as an axe by the mod. This means axes and white listed tools.

What do you mean by "can't enchant it"?

- you see the enchant in the enchant table for axes but can't get it from the table?
- you only see it in the enchant table for books but not the rest? (In that case does getting the book and applying it on the axe works?)
- you don't see it in the e

[2022-04-06 17:09] Laifsyn commented on #331
Vanilla axes. Preferably to also include modded axes.
iirc the tag I see in REI was something like "fabric:axes" or "fabric:tools/axes"

[2022-04-06 17:58] Rakambda commented on #331
By default axes are not detected through a tag (as it isn't vanilla), it's purely based on Minecraft code (what makes the axe item). So the vanilla ones should work.

For the modded ones, either the author did it in a way that will be supported by FT, otherwise you'll have to whitelist them.

I managed to reproduce the issue. Seems like it works in creative but not survival.

[2022-04-06 18:50] Rakambda commented on #331
[Here](https://github.com/RakSrinaNa/FallingTree/actions/runs/2104441787) you'll find an artifact at the bottom (zip containing the jar file). You can try this out and should solve the issue.

[2022-04-07 08:55] #331 closed, assigned to Rakambda

[2022-04-07 08:59] Rakambda opened #333 "1.19 Fabric support"
### Describe the feature

Title

[2022-04-07 08:59] Rakambda opened #334 "1.19 Forge support"
### Describe the feature

Title

[2022-04-08 18:07] #329 closed, assigned to Rakambda

[2022-04-08 18:58] Rakambda opened #336 "Leaves breaking not working anymore"
### Describe the bug

Snapshot broke neighbor updates ?

### Minecraft version

22w14a

### Fabric API version

0.49.6

### Mod version

3.6.0-alpha

### Relevant log output

_No response_

[2022-04-08 22:08] MelZabs opened #337 "Mod not working now with BetterNether"
### Describe the bug

I had the mod on my server and after adding two new mods it isn't working. New mods added were BetterNether and BCLib. Are these mods not compatible with each other?

### Minecraft version

1.18.1

### Fabric API version

0.44.0

### Mod version

3.2.1

### Relevant log output

_No response_

[2022-04-09 06:36] Rakambda commented on #337
What do you mean by not working anymore?

New tress are not chopped down? New tools are not recognized? Trees that were chopped before are not anymore?...

[2022-04-09 08:06] Rakambda opened #339 "Add option to break Mangrove Roots"
### Describe the feature

Title

[2022-04-09 08:12] #336 closed, assigned to Rakambda

[2022-04-09 08:14] #339 closed, assigned to Rakambda

[2022-04-09 08:35] Rakambda commented on #337
Reference to issue opened on BN side : https://github.com/paulevsGitch/BetterNether/issues/534

----

I tried in single player wit the versions you provided, and it works fine. Vanilla trees are still being broken, and new nether trees are too.
=> Maybe it's only when on server?

![image](https://user-images.githubusercontent.com/1688389/162563759-2449c159-6a5a-478b-9891-b531f6241e41.png)

Are you

[2022-04-14 19:22] IronPegasus opened #343 "Registry remapping error on client after enabling enchant"
### Describe the bug

I am trying to set up a Minecraft 1.18.1/Fabric 0.13.3 server. I have the FallingTree mod (v 3.2.1) added to both my personal client instance and the server. The mod works fine when `"registerEnchant": false` is configured on the server, but when I set it to `"registerEnchant": true` I get the following error message upon trying to connect:

`Registry mapping failed: Received

[2022-04-14 19:24] Rakambda commented on #343
You also have to turn that configuration (`registerEnchant`) ON on the client.
Both sides need to register the enchant otherwise just one side knows about it and leads to that mismatch.

[2022-04-14 19:27] IronPegasus commented on #343
That's going to be terribly inconvenient as I'll have to direct every single one of my players to also adjust their configuration files too. Personally, I don't think that's a reasonable expectation.

Thank you for the response. I'll look into the other settings to see if I accomplish what I want differently.

[2022-04-14 19:27] #343 closed, assigned to Rakambda

[2022-04-14 19:29] Rakambda commented on #343
Never used it but saw it several times. This may help into what you want to achieve as it seems to be able to supply default custom config files for modpacks : https://www.curseforge.com/minecraft/mc-mods/defaultsettings

[2022-04-22 08:56] #304 closed, assigned to Rakambda

[2022-05-02 14:59] Some-Doofus opened #346 "Can't enable giant mushrooms in config"
### Describe the bug

I want to make giant mushrooms able to be cut down as trees, but adding the mushroom stem block (minecraft:mushroom_stem) to the allowed logs and the mushroom blocks (minecraft:red_mushroom_block and minecraft:brown_mushroom_block) to the allowed leaves gives an error when I try to cut a mushroom stem block. The error reads: "Tree detection stopped, reason: Found block, fr.ra

[2022-05-02 15:13] #346 closed, assigned to Rakambda

[2022-05-02 15:21] #337 closed, assigned to Rakambda

[2022-05-02 15:39] Rakambda commented on #184
I'm not sure if this is still relevant. As it is now the leaf ticking feature is totally disconnected from the breaking of the tree.

Air blocks that are updated next to a leaf block is what will trigger the decay speedup.
This was changed because scanning very large trees for leaves caused issues (especially in dense forests where lots of trees are close to each other).

[2022-05-02 16:26] Rakambda opened #348 "Unreadable error message"
### Describe the bug

From #346, now that blocks and such are wrapped in custom classes it is harder to identify what Minecraft object is being used. A `toString` method should be defined to display its name instead of instance.

### Minecraft version

1.18.2

### Fabric API version

0.50.0

### Mod version

3.5.0

### Relevant log output

[code]

[2022-05-02 16:40] MobButcher commented on #184
It is still somewhat relevant. Leaves don't decay if there is a tree log block at most 7 blocks away in [Manhattan distance](https://en.wikipedia.org/wiki/Taxicab_geometry). If you have two oak trees four blocks away from each other, their leaves will connect into one mesh and most of the leaves will stay in the air, supported by one of the trees.

This is an issue in dense forests, where you migh

[2022-05-02 16:41] #348 closed, assigned to Rakambda

[2022-05-02 16:45] MobButcher commented on #155
I also had this idea. Having logs break one by one or in a spreading cube would be awesome. This way of animating things also leaves a certain "vanilla" feel to it, which I believe would be appreciated by many.

[2022-05-02 16:54] MobButcher commented on #266
Replanting would also require an override list and/or allow-/blocklists for the edge case where loottable for a leaf for some reason contains more than one "plantable" item. You can't just assume that the tree is placed on a block you can plant a sapling on, otherwise you can grow a tree, replace the dirt with stone, and use the mod to "plant" a sapling on the stone. So unless there are easily acc

[2022-05-02 18:24] Rakambda commented on #155
For sure. It's been open for a while not because I don't want it but more because I don't really know a good way to do this.

As it is it'd need quite some changes to be able to handle that. But that's doable. It's just that as always I kinda ask myself questions on some "edge cases". Like "what if the tree is cut twice" (like the tree is cut again before the animation finishes). "What if a block

[2022-05-06 12:03] frenchiveruti commented on #155
I think it's worth if you make another mod for that, honestly yours "as is" is great.

[2022-05-06 13:24] MobButcher commented on #155
That can be solved by having a queue of blocks that you are animating through. Since a queue is by definition a list, if you break another block, you can check whether or not it's present in the queue and, if it is in it, simply remove it from the queue. Deleting by coordinates alone might suffice. It also covers the case of block state change (for example, if a leaf with flowers just so happens t

[2022-05-10 23:57] autoclikerboi121 opened #350 "more vanilla tools mod does not chop down trees (axes)"
if you use the more vanilla tools mod with this mod, the axes will not cut down the trees like normal tools do. kinda sucks.:(

### Minecraft version

1.18.2

### Forge version

40.1.19

### Mod version

4.1.1

### Relevant log output

_No response_

[2022-05-11 05:07] Rakambda commented on #350
Simply whitelist the tools in the config

[2022-05-27 08:18] Chribit opened #353 "[3.5.1] Can't add tree hollows to allowed logs"
### Describe the bug

I'm playing version 3.5.1 on 1.18.2 fabric together with the "[tree hollows](https://www.curseforge.com/minecraft/mc-mods/tree-hollows)" mod.

I tried adding the tree hollow logs in the configuration file, but the trees still don't fall if a hollow is reached.

My config file looks like this:

[code]

### Minecraft version

1.18.2

### Fabric API version

0.53.4

### Mod vers

[2022-05-27 09:07] Rakambda commented on #353
I wasn't able to find one naturally generated, but from the looks of it seems like it's included in some vanilla trunks right?

If so then that means trunks are made of several log blocks, maybe turning `trees.allowMixedLogs` on may improve things.

[2022-05-27 10:19] Chribit commented on #353
They should be pretty common in world generation…

But i‘ll try flipping that boolean later, thanks!

[2022-05-27 14:04] Chribit commented on #353
It works now! Thanks!

Issue can be closed :)

[2022-05-27 14:21] #353 closed, assigned to Rakambda

[2022-06-05 08:24] ardissaps opened #355 "How about option to include mushroom tree?"
### Describe the feature

thx

[2022-06-05 09:21] Rakambda commented on #355
Duplicate of #347

You can have that behavior by adding parts of the mushroom in the config, in particular:
[code]

[2022-06-05 09:21] #355 closed, assigned to Rakambda

[2022-06-05 09:22] #350 closed, assigned to Rakambda

[2022-06-07 16:36] #333 closed, assigned to Rakambda

[2022-06-09 07:05] Speedy113debt opened #357 "FallingTree not falling"
### Describe the bug

whenever i try to chop a tree down, the whole tree does not fall. The axe breaks one log at a time.

### Minecraft version

1.19

### Forge version

41.0.5

### Mod version

3.6.0

### Relevant log output

_No response_

[2022-06-09 07:18] #357 closed, assigned to Rakambda

[2022-06-09 07:50] Rakambda commented on #357
Mod not yet compatible with forge for 1.19, #334

[2022-06-09 07:50] Rakambda commented on #334
Forge 1.19 is out, will probably try doing this later today

[2022-06-09 17:05] #334 closed, assigned to Rakambda

[2022-06-11 08:38] DeadpoolsITGuy opened #359 "Not loading on server"
### Describe the bug

I cannot get this to work on the server side for forge i have the file in the mods folder and i have tested it works on the client side on a singleplayer world but on a multiplayer world i will not even show in the avaliable mods

### Minecraft version

1.19

### Forge version

41.0.5

### Mod version

3.6.0

### Relevant log output

_No response_

[2022-06-11 08:58] Rakambda commented on #359
Version 3.6.0 is not compatible wit forge.
![image](https://user-images.githubusercontent.com/1688389/173181101-b15c0d11-0a08-47d3-a6c0-06335b4400f6.png)

You have to use version 3.6.1.

----

If it was just a mistake and you indeed use 3.6.1, then I can't reproduce it.

You can check in your `debig.log` file, you should see something similar to this:
[code]

Especially :
[code]

If you don't have

[2022-06-11 09:14] DeadpoolsITGuy commented on #359
Thanks this was my mistake i am now using 3.6.1 and it works!

[2022-06-11 10:10] #359 closed, assigned to Rakambda

[2022-06-15 11:00] 5alidshammout commented on #266
if the sapling can be placed, just do it, else an additional sapling is dropped

[2022-06-20 02:33] minimusubi opened #360 "Sync config between server and client"
### Describe the feature

### Issue
When a client and a server both have the mod installed, if the client's config does not match the server's, the client can see unexpected results.

### Actual Behavior
For example, if the server has `tools.speedMultiplicand` set to `1.0`, but the client has the default value of `0.0`, then the client will show tree blocks breaking at the wrong speed. Once the bl

[2022-06-20 05:49] Rakambda commented on #360
I think this is doable and will look into this.

However it won't fully solve the sync issue. Currently there's 2 config that needs to be set the same way between the client & the server:

* breakSpeedMultiplier
* enchantments registration

The break speed will work fine, but the enchantments won't as it requires a restart of the client to (un)register them.
But I personally think that syncing the

[2022-06-20 07:22] minimusubi commented on #360
What about `trees.detectionMode`? In the case that a non-zero `speedMultiplicand` set, and detectionMode differs across server/client, could this cause incorrect "time to break" calculations on the client?

[2022-06-20 18:19] Rakambda commented on #360
I made a first shot at it just to try the networking by itself. I don't have that much time to test it a lot for now though.

It should sync the speed multiplicand from the server to the client (which from my testing seems to do so).

What I didn't try and is interesting to know:

- What happens if connecting from to a server (hence modifying the conf) and then going to single player? Is the overr

[2022-06-21 09:26] ardissaps opened #362 "Option to disable Dropping Loot on Creative Mode"
### Describe the feature

Option to yeet the wood loot in creative mode to for cleaner inventory. Thanks!

[2022-06-21 16:42] Rakambda commented on #362
That'll work for the logs, however for the leaves it won't. I just random-tick them and therefore don't have the hand on them breaking (and looting) or not.

[2022-06-22 12:21] #362 closed, assigned to Rakambda

[2022-06-22 13:36] ardissaps commented on #362
Thank you!

[2022-06-24 12:48] CongoBB opened #366 "Doesn't work on server, meanwhile works in singleplayer"
### Describe the bug

I keep trying to put this mod on my server, but it just doesn't work, doesn't create config file aswel. I don't know what to do at all, could you help?
Tried removing it from client, and keep it on server only, didn't change anything.

### Minecraft version

1.19

### Forge version

41.0.45

### Mod version

3.6.2

### Relevant log output

_No response_

[2022-06-24 12:50] Rakambda commented on #366
You can check in your server `debug.log` file, you should see something similar to this (that is from an other issue and shows 3.6.1, but should be the same with 3.6.2) :
[code]

Especially :
[code]

If you don't have this then the mod is not loaded by forge (wrong file, put in wrong folder, corrupted downloaded file, ...).

[2022-06-24 13:04] CongoBB commented on #366
Yeah, i don't have mod name in debug file at all, but the thing is, i use the same file for client, and it works there.

[2022-06-24 13:10] Rakambda commented on #366
It probably isn't placed at the correct place on the server side, or server isn't a forge one.
Do you see any `net.minecraftforge` logs in the `debug.log` file?

[2022-06-24 13:47] CongoBB commented on #366
Server is a forge one, im using other forge mods aswel and they work properly both sides (client and server), Thats for sure. Do i need special libraries for fallingtree mod maybe? Im sure description says other mods are not required though.

[2022-06-24 13:49] Rakambda commented on #366
No other libraries are required on the server side.(Just cloth on the client for the config gui)

I'll try again on my side with the 3.6.2.

[2022-06-24 14:04] CongoBB commented on #366
I can tell you what other mods i'm using maybe it will make things clearer for you? Its not much, or i can try to launch server with only fallingtree mod and see if the problem is still there.

[2022-06-24 14:11] Rakambda commented on #366
I can't manage to reproduce it. I can start a `41.0.45` forge server with FT `3.6.2`. Joining with a vanilla client and chopping a tree works.

To me if there isn't a line like `[main/DEBUG] [net.minecraftforge.fml.loading.moddiscovery.ModFileParser/LOADING]: Considering mod file candidate xxxx\mods\FallingTree-1.19-3.6.2.jar` in the logs then Forge didn't even try to scan the file for mods.

You

[2022-06-24 15:46] CongoBB commented on #366
Tried rebuilding server with only that one mod, didn't work with mod on client neither without here's debug, nothing about this mod, even tho works in single player.
[debug.log](https://github.com/RakSrinaNa/FallingTree/files/8977423/debug.log)
.

[2022-06-24 17:06] Rakambda commented on #366
Indeed the mod isn't loaded. To be honest it's a bit hard to troubleshot this x)

Can you perhaps send your server folder (should be `D:\server19` from the logs) so that I can have the same setup on my side and try things locally? (you can remove the map so that it's lighter)

If you're willing to, can drop a zip of it [here](https://www.dropbox.com/request/6SwDnq8fLlqf28oUZz4l).

[2022-06-24 19:34] Meloku27 commented on #366
Hey there, i also have the same problem like CongoBB. FallingTree only works in single player and i dont have this <[main/DEBUG] [net.minecraftforge.fml.loading.moddiscovery.ModFileParser/LOADING]: Considering mod file candidate xxxx\mods\FallingTree-1.19-3.6.2.jar> in my logs. Are there any solutions right now ?

[2022-06-24 19:37] CongoBB commented on #366
Sent you the zip :)

[2022-06-24 19:58] Rakambda commented on #366
I guess you start your server with your `start.bat` :

[code]

However it seems that recent versions of forge doesn't really support that anymore, the default startup command is very different :
`java @user_jvm_args.txt @libraries/net/minecraftforge/forge/1.19-41.0.45/win_args.txt %*`  especially `@libraries/net/minecraftforge/forge/1.19-41.0.45/win_args.txt` that loads forge.

What I'd advise you

[2022-06-24 20:01] Rakambda commented on #366
@Meloku27 As you have the "considering..." in your logs the issue is probably not the same.

If you see `Found valid mod file FallingTree-1.19-3.6.2.jar with {fallingtree} mods - versions {3.6.2}` then the mod is loaded.
In that case maybe the configuration is not the one you expect? In any case it'd be easier handling that in a separate issue.

[2022-06-24 20:25] CongoBB commented on #366
Omg! you are a genius  🙂 👍 I did what you told me to with run.bat and it worked! thank you so much!

[2022-06-24 20:38] #366 closed, assigned to Rakambda

[2022-06-24 22:30] Laifsyn opened #367 "Empty Tag does do sh*t in the bad way"
### Describe the bug

Having an empty tag will cause Falling Tree to not work
Having this breaks Falling Tree, not letting you to insta mine trees
[code]

### Minecraft version

1.18.2

### Fabric API version

0.56.1

### Mod version

3.5.1

### Relevant log output

_No response_

[2022-06-24 22:38] Laifsyn opened #368 "ShiftDown Enchantment doesn't ignore Log hard Speed Multiplicand"
### Describe the bug

![image](https://user-images.githubusercontent.com/99366187/175719352-5141f018-7754-48a5-b694-869bc121c3f9.png)
ShiftDown won't insta-break the tree, and also is taking into account the SpeedMultiplicand modifier to decide how long it takes to break a certain block

### Minecraft version

1.18.2

### Fabric API version

fabric-api-0.56.1+1.18.2

### Mod version

FallingTree-1

[2022-06-25 07:50] Rakambda commented on #367
To me this doesn't sound like a bug. Defining <empty> as a tag is not the same as not defining anything.
That special case will be handled in next versions of FT, so for 1.18 versions you can simply define a proper tag or none.

[2022-06-25 08:06] #367 closed, assigned to Rakambda

[2022-06-25 08:08] #368 closed, assigned to Rakambda

[2022-06-28 03:09] ardissaps opened #372 "Item does not automatically stack when picked from ground."
### Describe the bug

The item scattered around in inventory like this :
![image](https://user-images.githubusercontent.com/82106625/176083234-ec8883b0-2327-4ef9-bfbc-819ab5a673d5.png)

I don't know if it is problem with Falling Tree or [Stacker](https://modrinth.com/mod/stacker) mod.
I'll post on both page.
https://github.com/Andrew6rant/Stacker/issues/45

### Minecraft version

1.18.2

### Fabri

[2022-06-28 03:18] ardissaps commented on #372
I can confirm it is not from Stacker side, I disabled stacker but problem persist :
![image](https://user-images.githubusercontent.com/82106625/176084570-c76d2e7d-7c6c-412a-ac34-17b3dbb4cf4e.png)

[2022-06-28 05:04] Rakambda commented on #372
Seems to be the same as #304.

I never was able to reproduce that issue.

* Does in happens after a restart?
* Is it in only a specific world or in all of them?

Would you be willing to send a zip with the following folders? mod + world + config

[2022-06-28 05:12] Angular-Angel opened #373 "Tetra Axes do not fell trees."
### Describe the bug

I submitted a report for this on Tetra: https://github.com/mickelus/tetra/issues/636

Basically, their axes don't count as axes, and thus don't fell tree's.

### Minecraft version

1.18.2

### Forge version

40.1.22

### Mod version

3.5.1

### Relevant log output

_No response_

[2022-06-28 05:13] Rakambda commented on #373
You can just add them to the allow list if they are not detected by default.

[2022-06-28 05:15] Rakambda commented on #373
Either you'll have to add them one by one, or if they are part of a custom tag, you can add that tag directly.

[2022-06-28 05:44] ardissaps commented on #372
Thats very huge. 500MB.
Looklike this is not from Falling Tree either, I disabled both problem still persist.
![image](https://user-images.githubusercontent.com/82106625/176102256-169cea14-2e6d-4ad1-b0e6-fa4cc9011f76.png)
Look like I need to trim the mod half by half. Sorry for your time!

[2022-06-28 05:46] Rakambda commented on #372
It's ok no worries.
I'd be interested if you manage to find what mod does this or it's vanilla Mac that has an issue.

Perhaps the NBT data on the logs are different hence why they don't stack up.

[2022-06-28 06:42] Angular-Angel commented on #373
I'm not sure it's possible to add Tetra Axes as as items, though. I don't know how it works under the hood, but I suspect there's no way to tell a Tetra axe from a Tetra pickaxe or hoe at a surface level - they're all treated the same in the Tetra workbench, and you can turn one into the other, or mix and match between them if you like.

[2022-06-28 06:52] Rakambda commented on #373
I see. Indeed mixed tools are an issue here. The whitelist system works based on the item type.

I'm not really sure how things can be solved here 🤔

[2022-06-28 23:16] ardissaps commented on #372
Found it! it is from [Pickup Notification](https://modrinth.com/mod/roundaround-pickup-notifications/version/f6ou0Gij), but it is fixed last night.

[2022-06-28 23:16] #372 closed, assigned to Rakambda

[2022-06-29 05:40] Rakambda commented on #372
Just as a reference, fix has been made with https://github.com/Roundaround/mc-fabric-pickup-notifications/commit/7ad4a61d8cf62fd302fad7d96acd7c00da2b9a89

[2022-06-29 07:02] ardissaps commented on #372
Yeah, I installed the mod again, the crafting table bug also caused by that. Now game run perfectly!

[2022-07-02 02:08] reddvilzz opened #374 "Preserve Tool = False not breaking the tools"
### Describe the bug

When preserve tool set to False, when the axe have no durability still can be used to break 1 log at a time, even though it is supposed to destroy the tools when it ran out durability.

If I set preserve tool to True, I cannot destroy any log, which is intended because my tool count as doesn't have any durability left. and only outputs "chat.fallingtree.prevented_break_tool"

[2022-07-02 05:37] Angular-Angel commented on #373
Is there any kind of dynamic item tag system? So, an individual Tetra tool could be tagged as an axe, and then FallingTree could check for that tag?

[2022-07-02 05:48] Rakambda commented on #373
I'm not really sure that exists. Minecraft tags are applied at the item level (basically it's a group of items/blocks). So it may not be relevant in that case if the item is always tetra:the_tool (whether it's in axe mode or pickaxe or whatever).

[2022-07-02 06:40] Angular-Angel commented on #373
Oh, wait! Atcually, [Origins: Classes](https://www.curseforge.com/minecraft/mc-mods/origins-classes-forge) has a treechopping ability for the Lumberjack that is able to recognize Tetra axes. So, you could go figure out how they do things and use that? :/

[2022-07-02 07:10] Rakambda commented on #373
You can try that version and see how it behaves. It may detect the axe by default (and so if don't want it, just blacklist the whole tool)
[FallingTree-1.18.2-0.0.1-dev.zip](https://github.com/RakSrinaNa/FallingTree/files/9032594/FallingTree-1.18.2-0.0.1-dev.zip)
.

[2022-07-02 07:12] Angular-Angel commented on #373
Alright, will do!

[2022-07-02 07:25] Angular-Angel commented on #373
No, that version doesn't work at all, so far as I can tell. It does show up in the forge logs as a loaded mod, but it's behavior doesn't trigger with Tetra axes, or with normal axes, or even the fast leaf decay part.

[2022-07-02 07:25] Angular-Angel commented on #373
No, wait! I tried to use the zip as a mod. That would do it. :X

[2022-07-02 07:30] Angular-Angel commented on #373
Yes! That does it! It works with my normal axe, and my Tetra axe, and *doesn't* work with my Tetra pickaxe! Excellent! XD

[2022-07-02 07:31] Rakambda commented on #373
Great, will do an official release of it later today.

[2022-07-02 07:40] #373 closed, assigned to Rakambda

[2022-07-02 07:54] Rakambda commented on #374
That version is quite old and I don't usually maintain those.
I still tried to take a look around but all the forge setup for 1.12 changed and I just struggle to get a dev env working.

Sorry to say but I think that issue won't be fixed.

[2022-07-02 07:54] #374 closed, assigned to Rakambda

[2022-07-02 14:42] reddvilzz commented on #374
oh okay then thank you for the response.

[2022-07-08 18:37] #360 closed, assigned to Rakambda

[2022-07-09 21:33] Gamemassa opened #377 "Mod failed to load correctly with latest version of Forge"
### Describe the bug

I tried to load this mod with the latest version of forge and got the following error message:
![image](https://user-images.githubusercontent.com/18667108/178123363-5a431bbf-771e-4d0a-b13b-2f7cb46d0604.png)

### Minecraft version

1.19

### Forge version

41.0.85

### Mod version

3.7.0

### Relevant log output

[code]

[2022-07-10 06:51] Rakambda commented on #377
Forge [41.0.64](https://github.com/MinecraftForge/MinecraftForge/commit/4d074f0a1ef1d774786b4f1e1e3e827a9bf576e0#diff-7c6afac67693f696f4e5974a4ded36f796e2291e227a929a776e2a5b610d7ca6R94) introduced a breaking change.

https://github.com/MinecraftForge/MinecraftForge/pull/8786

Will fix that and make a release.

[2022-07-10 07:04] #377 closed, assigned to Rakambda

[2022-07-10 12:55] Gamemassa commented on #377
Can confirm, FallingTree 3.7.1 is definitely working with Forge 41.0.64+. Thanks again for the rapid response and support!

[2022-07-10 15:52] Dr-WeiAL commented on #318
If I remember correctly, the issue has been fixed

[2022-07-11 20:55] Dr-WeiAL commented on #318
Well, when I used fabric again, I found it didn't solve

[2022-07-12 14:52] Gamemassa opened #379 "BlockEvent$BreakEvent error and crash"
### Describe the bug

![image](https://user-images.githubusercontent.com/18667108/178519406-833e9e6e-a079-4ae4-9a7e-2e01a2a475af.png)

[crash-2022-07-12_10.49.11-fml.txt](https://github.com/RakSrinaNa/FallingTree/files/9094180/crash-2022-07-12_10.49.11-fml.txt)

### Minecraft version

1.19

### Forge version

41.0.94

### Mod version

3.7.1

### Relevant log output

[code]

[2022-07-12 16:38] Rakambda commented on #379
Probably linked to https://github.com/MinecraftForge/MinecraftForge/pull/8840, will look into it

[2022-07-12 16:54] #379 closed, assigned to Rakambda

[2022-07-13 10:57] pewblaze opened #381 "Add Enchantment Description"
### Describe the feature

I really love this mod!
I would love if you could add support for Enchantment Description 👍
https://www.curseforge.com/minecraft/mc-mods/enchantment-descriptions

[2022-07-13 11:00] Rakambda commented on #381
Will look into it, seems [easy enough to do](https://github.com/Darkhax-Minecraft/Enchantment-Descriptions#how-do-i-add-new-descriptions).

[2022-07-13 15:39] JamieTheNeko opened #382 "Mangrove roots arent breaking"
### Describe the bug

I have the setting for mangrove roots on, but they wont break at all. i have to go fishing for the wood
![2022-07-13_17 37 24](https://user-images.githubusercontent.com/109233180/178774131-63ff990c-2e0a-4c00-8a3f-dbb6c586e3b4.png)
![2022-07-13_17 37 29](https://user-images.githubusercontent.com/109233180/178774145-fdf80515-13ac-47a8-943d-ec2417cc9d7d.png)
![2022-07-13_17 37 0

[2022-07-13 16:58] Rakambda commented on #381
Can you try [this build](https://github.com/RakSrinaNa/FallingTree/actions/runs/2665015693) ? (In the artifact section you can download a jar that contains the jar/mod file)

[2022-07-13 17:49] Rakambda commented on #382
So if I understand well you're breaking the roots and you expect the whole tree to fall?

If so then this is normal behavior, the roots are considered "leaves" so they are breaking when the associated trunk is destroyed. So that indeed mean you have to reach for it.

If you want to have the root act like it's the trunk you can :
* Add "minecraft:mangrove_roots" to be allowed logs
* Enable "Allow t

[2022-07-13 17:51] Rakambda commented on #382
If you mean that you break the trunk and nothing else disappears, then I can't manage to reproduce it.
Tried with FT 3.7.2 & Fabric 0.56.0+1.19. Can you reproduce with those latest versions?

[2022-07-13 18:01] JamieTheNeko commented on #382
i did update it all.. still no change.. the roots dont break with the tree. the leaves do but the roots dont. i will try your fix and let you know

[2022-07-13 18:07] Rakambda commented on #382
My "fix" was if you wanted to break the whole tree by breaking a root.

But seems like you bread the trunk.
Can you share your config file?

[2022-07-13 18:11] JamieTheNeko commented on #382
Yeah I wanted to break the whole tree from the trunk. I tried the fix but it only broke the roots and not the trunk. Then I tried it on the allowed leaves too. I'll have to share it a bit later as my power is out

[2022-07-13 18:12] JamieTheNeko commented on #382
I just found a fix. But that might be an issue for you too. It's linked to the nether warts. As soon as I switched it on. It instantly broke the whole tree

[2022-07-13 18:20] JamieTheNeko commented on #382
But still some roots don't break always but I can get that, that's just how it works.

[2022-07-13 18:27] Rakambda commented on #382
So:
* if you have "Break nether warts" off + "Break mangrove roots" on => Does not break the roots
* if you have "Break nether warts" on + "Break mangrove roots" on => Does break the roots

Correct?

Edit: Ok I manage to reproduce it that way 👍

[2022-07-13 18:37] Rakambda commented on #382
Good find, I was basically "tagging" the roots as warts when scanning the tree 😅

Will make a release in a bit.

[2022-07-13 18:41] #382 closed, assigned to Rakambda

[2022-07-15 18:45] #381 closed, assigned to Rakambda

[2022-07-19 11:08] pewblaze opened #385 "[1.19] Enchantment also on other tools"
### Describe the bug

The Enchantment is also on tools like the pickaxe.
![grafik](https://user-images.githubusercontent.com/96242065/179736267-dcd5a96a-27c1-4ea7-b238-244e476173a2.png)

### Minecraft version

1.19

### Fabric API version

0.14.8

### Mod version

3.7.4

### Relevant log output

_No response_

[2022-07-19 11:12] Rakambda commented on #385
Hmm, the enchant should go only on the tools that are whitelisted. It uses the same method as when a tree is cut 🥲

I'll try to see if I can reproduce it later.

[2022-07-19 16:41] Rakambda commented on #385
I cannot reproduce.
![image](https://user-images.githubusercontent.com/1688389/179804075-08ac9126-ac3b-4802-a4b7-407399e585af.png)

Either the tool is whitelisted or some mods brings some kind of incompatibility.

[2022-07-20 03:31] WillTereika opened #387 "Cannot tell what version of Forge the mod works with and need to find a version compatible with a specific forge version."
### Describe the bug

So I'm trying to add this into a modpack, the rest of the modpack uses o41.0.45 of Forge, but the latest file of this mod requires a later version.. How am I supposed to tell which version of Forge what file is for, because It does not say ANYWHERE on the Forge site.  Just looking for some help, thanks.

### Minecraft version

1.19

### Forge version

41.0.45

### Mod version

[2022-07-20 05:15] Rakambda commented on #387
You can have a look at the changelog which gives info about this.

![image](https://user-images.githubusercontent.com/1688389/179902168-3732bed3-3cd6-464e-8ee1-040f0777b764.jpeg)

3.7.0 should work with older forge.

[2022-07-20 22:24] pewblaze commented on #385
Ah okay, ive got a lot of mods. Maybe i can find out which one does it.

[2022-07-21 07:39] Rakambda commented on #385
If that is one. You can try first with just Falling Tree if you manage to reproduce it; I wasn't able to though.

[2022-07-31 11:56] pewblaze commented on #385
Nevermind, you can enchant everything in creative. Im sorry, i didnt know that ^^"

[2022-07-31 12:13] #385 closed, assigned to Rakambda

[2022-07-31 12:17] #387 closed, assigned to Rakambda

[2022-07-31 12:47] pewblaze commented on #385
Okay ive got it also in the enchanting table and can enchant a pickaxe with it. ill try to find the mod again ^^"